<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no,address=no">

	<title>贵州旅游社区</title>

	<link rel="shortcut icon" href="static/images/little-icon.png">

	<link rel="stylesheet" href="static/css/ld.css">
</head>

<body>
	<div class="nav lazyimg" src="data/load.png" data-original="static/images/banner.jpg" style="display: block; background-image: url('static/images/banner.jpg');">
			<div class="sekuai">
				<div class="navli">
					<img src="static/picture/logo.png" class="hidem">
					<div class="leimu">
						<a href="#">首页</a>
						<a href="#">问答</a>
						<a href="#">目的地</a>
						<a href="#">旅游管家</a>
					</div>
					<div class="sousuo hidem">
						<input type="" name="" id="" value="" placeholder="搜索">
						<img src="static/picture/search-icon.png">
					</div>
					<div class="liantu hidem">
						<div class="qq"></div>
						<div class="wb"></div>
					</div>
				</div>
			</div>
		</div>
	<div class="ld">
		<div class="question">
			<div class="question-l">
				<div style="display: inline-flex; align-items: center;">
					<img class="hidem" src="static/picture/map-icon.png">
					<h3 class="hidem city">长沙</h3>
					<h4>攻略&gt;问答&gt;到贵州旅游怎么安排？</h4>
				</div>
				<h1>最近想去贵州玩，大概玩5、6天时间，想问下去过的朋友怎么玩比较好？有哪些必去的景点？怎么玩会比较节省费用呀？</h1>
				<p class="lljj">我比较笨，感觉看地图隔好远的，不知道怎么规划会比较好，有没有口碑好的当地向导或旅行社，必须纯玩，希望去过的朋友看到后给个建议，非常感谢!</p>
				<div class="wanzheng hidem" style="display: none;">
					<div class="llj" style="cursor: pointer;">
						完整描述
						<div class="zhijiao"></div>
					</div>
				</div>
				<div class="question-l-b" style="margin-top: 10px;">
					<div><img src="static/picture/time-icon.png">
						<span>5天</span></div>

					<div><img src="static/picture/watch-icon.png">
						<span>1667</span></div>

					<div><img src="static/picture/touxiang1.png">
						<span>jsonzhou</span>
						<span>2019.01.23</span></div>
				</div>
			</div>

			<div class="question-2 hidem">
				<div>
					<div>
						<img src="static/picture/collection-icon.png">
						<p>收藏(677)</p>
					</div>
					<div>
						<img src="static/picture/share-icon.png">
						<p>转发(124)</p>
					</div>
					<div class="likebtn"><img src="static/picture/like-icon.png">
						<p>点赞(<span class="like-01-num">1125</span>)</p>
					</div>
				</div>
				<div style="padding-top: 24px; justify-content: flex-end;">
					<a class="button1" href="javascript:;">关注</a>
					<a class="button2" href="javascript:;">回答</a>
				</div>
			</div>
		</div>
		<div class="huida">
			<div class="huida1"></div>
			<span>30个回答</span>
		</div>
		<div class="main">

			<div class="main-left">

				<div>
					<div class="touxiang1">
						<div style="margin-right:20px;position: relative;">
							<img src="static/picture/touxiang2.png">
						</div>

						<div class="touxiang11">
							<div style="display: flex;align-items: flex-end;">
								<h3>C大調的奢華</h3>
								<h4>50分钟前</h4>
							</div>
							<img src="static/picture/lydr-icon.png">
						</div>
					</div>

					<div class="pinglun">
						<p>楼主你算是问对人了，上个月10号，和家人去贵州玩了5天4晚<br>
							一起花费大概1600元左右一人<br>
							费用都包含了：<br>
							1、景区门票（导游购票，方便省心）<br>
							2、全程的交通费，路程较远（旅游车干净卫生，座位舒适）<br>
							3、还包含住4晚品质舒适的酒店（条件舒适、位置极佳）<br>
							4、全程导游服务费（细心、周到）<br>
							5、餐食（团餐，挺不错）<br>
							———————————————————————————————<br>
							个人觉得费用很划算了，很久之前跟朋友一起去跟过一次团，这次带家人要比之前住得好吃得好很多，也没有所谓的隐形消费。<br>
							并且玩的很自由很开心<br>
							———————————————————————————————<br>
						</p>
						<p><b>行程简介：</b><br>
						</p>
						<p class="fiveday" style="margin-top:10px"><span>D1</span>出发地——贵阳</p>
						<p class="fiveday"><span>D2</span>贵阳-黄果树瀑布（游陡坡塘、天星桥、黄果树瀑布景区）</p>
						<p class="fiveday"><span>D3</span>荔波-大小七孔景区，可以游鸳鸯湖、水上森林、拉雅瀑布、卧龙潭等</p>
						<p class="fiveday"><span>D4</span>西江（千户苗寨）-凯里·苗家寨-铜仁</p>
						<p class="fiveday"><span>D5</span>镇远-贵阳（返程）</p>

						<p>
						全程安排：乐享自由行金牌管家<span class="wxname">阿贵</span>——微信：<button class="weixin" data-clipboard-target=".weixin">17788889999</button><br>
						出发之前，网上联系了3家，看乐享自由行评价最高，而且<span
							class="wxname">阿贵</span>也是做贵州当地向导很多年的老导游了，最终我们选择了乐享自由行，事实证明，非常靠谱，给我们安排的是贵州高端品质自由行，玩得很好。
						</p>
						<img src="static/picture/01.jpg">
						<p>目前大多去贵州的旅行都需要提前预定 <br>
							我们是提前一周和<span class="wxname">阿贵</span>管家预订的，<span
								class="wxname">阿贵</span>管家人非常好，贴心周到，安排非常用心，做旅游<span class="gender">他</span>是专业的，良心的。<br>
							为我们安排的酒店非常不错，就在贵阳甲秀楼附近，<br>
							吃饭、逛街非常方便。<br>
							去哪里都很方便，酒店打车方便，距离公交站也很近<br>
							重要的是，价格也划算。<br>
							需预留房间，可以联系<span class="gender">他</span>微信：<button class="weixin" data-clipboard-target=".weixin">17788889999</button></p>
						<img src="static/picture/02.jpg">
						<p>比较省心<br>
							出门玩，交通是一大难题。<br>
							我们把自驾车放到<span class="wxname">阿贵</span>管家安排的酒店，全程交通管家都安排的很好，一路上不用担心别的，心里很踏实，玩起来也放得开。<br>
							不用担心去了贵州景点还要找停车位的问题<br>
							而且贵州山路十八弯，不熟悉路况自驾累，不安全 </p>
						<img class="lazyimg" src="static/picture/03.jpg" data-original="static/picture/03.jpg"
							style="display: inline;">
						<p>为什么选择乐享自由行为我们安排贵州旅游呢？<br>
							1、因为真的很省钱，确实在为我们游客考虑问题<br>
							2、玩的非常舒服，吃住品质也好，确实能感受到用心在服务，告知我们应注意什么，需要带什么衣物啊等等很多，确实很用心，也打消了我们很多顾虑。<br>
							3、节约了我们的时间，游玩起来很舒心<br>
							4、避免了被宰被坑的尴尬<br>
							5、乐享自由行口碑非常非常不错 </p>
						<img class="lazyimg" src="static/picture/04.jpg" data-original="static/picture/04.jpg"
							style="display: inline;">

						<p>
							友情提醒：去贵州玩一定要提前安排，提前准备。<br>
							各个景点之间距离非常远，200公里左右，坐车大概也要2、3个小时<br>
							如果选择到了贵州再做安排。<br>
							一切都会很被动，焦头烂额，花费的时间还有金钱肯定会比预期的多，可能还会被坑玩不好<br>
							去贵州之前也看了很多攻略，贵州景区比较分散，像黄果树瀑布、小七孔、千户苗寨、镇远这些地方都不在同一条线上，往往需要转车找路，非常麻烦
							在网上看地图看攻略看的一头雾水，多方查证，觉得乐享自由行的口碑非常不错，就果断下单
						</p>
						<img class="lazyimg" src="static/picture/06.jpg" data-original="static/picture/06.jpg"
							style="display: inline;">

						<p>
							<b>旅游体会</b><br>
							<span class="wxname">阿贵</span>旅游管家安排了专人到机场出口接我们，到其公司之后签合同，一切都很顺利、省心
							旅游嘛，认识一个熟人还是不错的，有什么问题大家问<span class="wxname">阿贵</span>管家吧，微信：<button class="weixin" data-clipboard-target=".weixin">17788889999</button>
							非常高兴认识<span class="gender">他</span>，用没用心从<span class="gender">他</span>的言语中就能体会到，从<span class="gender">他</span>的服务就能感受到
							<span class="gender">他</span>给安排的是高端品质旅行自由行团队，对我们来说，这是一次难忘、享受的贵州之旅，黄果树瀑布的壮观，小七孔的秀丽，千户苗寨的质朴，舞阳河悠远的桨声，都让我们流连忘返。
						</p><br>
						<p>
							<b>需要注意的事项</b><br>
							在贵阳车站有很多拉客仔会一直跟着拉行李的游客问你要不要预定<span class="gender">他</span>们的行程，说什么黄果树瀑布+小七孔300块2日游要不要去什么的，千万别报，看网上的信息都知道小七孔最基础的门票都要130，而且还有住宿、交通费，报这种低价团到时候肯定会坑人。乐享自由行跟这些旅游团相比虽然贵点，但是玩得开心没有旅游陷阱购物套路，反正开心无价。
						</p>
					</div>
					<div class="pltc">

						<div class="sanjiao"></div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/touxiang3.png">
							</div>
							<span class="hh3">老桐07</span>
							<span class="hh4">40分钟前</span>
						</div>
						<div class="plhd">
							<p>您好，你们的5天线路是怎么样走的呢？1600多的费用是包含景点门票住宿用餐了吗？你们玩得怎么样？第一次去不想留什么遗憾谢啦。</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/touxiang2.png" width="30px" height="30px">
							</div>
							<span class="hh3">C大調的奢華</span>
							<span class="hh4">38分钟前</span>
						</div>
						<div class="plhd">
							<p><span
									style="color: #fab400;">回复@老桐07：</span>是的，都是包含的，吃住行都非常不错，这个行程性价比很高！<span class="gender">他</span>们的行程路线都是私人订制的，乐享自由行是专门接待像我们这种结伴游、半自由行的客人的，个人觉得<span class="gender">他</span>们最大的优点就是服务好、收费公道，而且乐享自由行的<span
									class="wxname">阿贵</span>管家还可以根据我们的需求喜好帮我们推荐或定制行程。你如果要去的话可以提前联系带我们玩的<span
									class="wxname">阿贵</span>管家，加微信聊很方便，把<span class="gender">他</span>微信推给你：<button class="weixin" data-clipboard-target=".weixin">17788889999</button>
								，有什么不懂的都可以问。</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/touxiang4.png">
							</div>
							<span class="hh3">拜托了2019年</span>
							<span class="hh4">37分钟前</span>
						</div>
						<div class="plhd">
							<p style="border: 0px;">我想问一下，<span class="gender">他</span>们公司有没有旅游品牌？是包吃住的吗？住的是什么标准呢？会带去购物吗？不购物不会给脸色看吧，反正旅游跟团跟怕了。</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/touxiang2.png" width="30px" height="30px">
							</div>
							<span class="hh3">C大調的奢華</span>
							<span class="hh4">38分钟前</span>
						</div>
						<div class="plhd">
							<p><span
									style="color: #fab400;">回复@拜托了2019年：</span>旅游品牌就是叫做乐享自由行阿，吃住都是包含的，住的挺不错，市区星级品质酒店，住的标准看你自己的要求来的，而且没去一个购物点，事先说好的，所以也不存在给脸色看了。具体事项你自己联系<span class="gender">他</span>们咨询一下没事的，反正订不订<span class="gender">他</span>们的行程还是看你自己的。我感觉<span class="gender">他</span>们挺不错的~~
							</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/touxiang4.png">
							</div>
							<span class="hh3">拜托了2019年</span>
							<span class="hh4">37分钟前</span>
						</div>
						<div class="plhd">
							<p style="border: 0px;"><span
									style="color: #fab400;">回复@C大調的奢華：</span>噢，好的好的，谢谢，那我先加你推荐的管家微信看看。</p>
						</div>

					</div>
					<div class="pltb">

						<img src="static/picture/like-icon-line.png">
						<p>20</p>
						<img src="static/picture/pinglun-icon.png">
						<p>3</p>
					</div>

				</div>

				<div>
					<div class="touxiang1">
						<div style="margin-right:20px;position: relative;">
							<img src="static/picture/touxiang5.png">
						</div>

						<div class="touxiang11">
							<div style="display: flex;align-items: flex-end;">
								<h3>王叁無</h3>
								<h4>45分钟前</h4>
							</div>
						</div>
					</div>

					<div class="pinglun">
						<p>楼主个人觉得6天时间玩遍贵州差不多了，给你介绍一下上次我跟我老婆走的行程，6天时间玩得很充裕，第一天：玩黄果树瀑布→第二天：小七孔→第三天：西江千户苗寨→第四天：镇远古镇
							→第五天：梵净山→第六天：当天根据自己的时间自由活动送机返回。这个行程总体感觉：品质酒店+1晚苗寨吊脚楼，山城景色好，省心，一眼望去，都是绿意，就是享受度假、超放松的感觉，从繁忙的现实世界中抽离....为我们服务的乐享自由行的<span
								class="wxname">阿贵</span>旅行管家很是辛苦...难忘的是：贵州菜 两个字“地道”辣儿爽！！！感谢<span
								class="wxname">阿贵</span>旅行管家给了我们一次完美的旅行，有人要去贵州旅游，找<span class="gender">他</span>绝对靠谱！！！</p>
						<img class="lazyimg" src="static/picture/07.jpg" data-original="static/picture/07.jpg"
							style="display: inline;">
					</div>

					<div class="pltc">

						<div class="sanjiao"></div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/touxiang6.png">
							</div>
							<span class="hh3">柠n檬mm不萌</span>
							<span class="hh4">40分钟前</span>
						</div>
						<div class="plhd">
							<p>你说的景点都很想去，因为这次是带着家人出去旅游，有老人也有小孩，想省点事，自己去太麻烦，看了答主的介绍感觉挺好的，可以推荐下苗妹旅游管家的联系方式吗？</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/touxiang7.png">
							</div>
							<span class="hh3">旺崽cattt</span>
							<span class="hh4">39分钟前</span>
						</div>
						<div class="plhd">
							<p>我想咨询一下，乐享自由行有时间比较短的行程吗？比如3天2晚的。</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/touxiang5.png" width="30px" height="30px">
							</div>
							<span class="hh3">王叁無</span>
							<span class="hh4">38分钟前</span>
						</div>
						<div class="plhd">
							<p>统一回答一下！本来为了避免广告嫌疑，是没打算发<span class="wxname">阿贵</span>微信号的。但是看到很多朋友都想了解<span
									class="wxname">阿贵</span>旅游管家给我们安排的这个行程，再加上管家安排的行程服务确实很好，就帮宣传一下，如果大家想去贵州旅游可以加<span
									class="wxname">阿贵</span>管家的微信<button class="weixin" data-clipboard-target=".weixin">17788889999</button>咨询。</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/touxiang8.png">
							</div>
							<span class="hh3">Patrick_嘉</span>
							<span class="hh4">37分钟前</span>
						</div>
						<div class="plhd">
							<p>现在去的话不知道人多不多，我想带着孩子过去呢~~</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/touxiang5.png" width="30px" height="30px">
							</div>
							<span class="hh3">王叁無</span>
							<span class="hh4">38分钟前</span>
						</div>
						<div class="plhd">
							<p><span
									style="color: #fab400;">回复@Patrick_嘉：</span>贵州旅游的话人应该不是很多，反正之前我们去的时候还好。不过我也不是很清楚，你加下<span
									class="wxname">阿贵</span>微信咨询下吧，<span class="gender">他</span>比较专业。反正咨询又不花钱，了解清楚也好过在网上胡乱找攻略强。</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/touxiang8.png">
							</div>
							<span class="hh3">Patrick_嘉</span>
							<span class="hh4">37分钟前</span>
						</div>
						<div class="plhd">
							<p style="border: 0px;"><span style="color: #fab400;">回复@王叁無：</span>好的好的，谢谢。</p>
						</div>

					</div>

					<div class="pltb">

						<img src="static/picture/like-icon-line.png">
						<p>32</p>
						<img src="static/picture/pinglun-icon.png">
						<p>3</p>
					</div>
				</div>

				<div>
					<div class="touxiang1">
						<div style="margin-right:20px;position: relative;">
							<img src="static/picture/touxiang9.png">
						</div>

						<div class="touxiang11">
							<div style="display: flex;align-items: flex-end;">
								<h3>一舟渡一</h3>
								<h4>43分钟前</h4>
							</div>
							<img src="static/picture/lydr-icon.png">
						</div>
					</div>

					<div class="pinglun">
						<p>一家人刚从贵州回来，去了黄果树、千户苗寨、荔波、镇远...
							领略了神奇秀丽的自然风光，还吃了正宗苗家酸汤鱼。不得不说贵州确实很美，玩的也特别尽兴！找的是朋友介绍的当地乐享自由行团队安排的。<span class="gender">他</span>们对当地非常了解，去之前就帮我规划行程，详细介绍了贵州景点玩法，好吃好玩的，我们的酒店、吃饭、门票都是管家拿的内部VIP价，待遇好还便宜，总共5天4晚，比我们预期的花费少了一大半，物超所值！很划算。<br>
							这是带我们玩的导游<span class="wxname">阿贵</span>的微信号(<button class="weixin" data-clipboard-target=".weixin">17788889999</button>)，人很热心也很专业。我推荐给你。<br>
							全程我们住的都是当地的品质酒店豪华房。我们算了一下，如果自己订的话光是房费都和总费用差不多了。我朋友都说真没想到跟团还能能住这么好的酒店，不愧是做贵州口碑品质自由行的。</p>
						<p><img src="static/picture/08.jpg" data-original="static/picture/08.jpg" alt=""></p>

					</div>

					<div class="pltc">

						<div class="sanjiao"></div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/touxiang10.png">
							</div>
							<span class="hh3">章鱼哥</span>
							<span class="hh4">39分钟前</span>
						</div>
						<div class="plhd">
							<p>是的，是的，贵州旅游找<span
									class="wxname">阿贵</span>旅行管家安排就是放心，老婆夸<span class="gender">他</span>100分，吃住都安排很好很热情，整个行程至少省了有1000多块钱，关键是不累，赞一个！贵州旅游咨询找<span class="gender">他</span>问比看攻略省心多了。
							</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/touxiang11.png">
							</div>
							<span class="hh3">大东</span>
							<span class="hh4">39分钟前</span>
						</div>
						<div class="plhd">
							<p>冲着乐享自由行的口碑去的，不负所望，满意！已经推荐给朋友</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/touxiang12.png">
							</div>
							<span class="hh3">大海阿故乡</span>
							<span class="hh4">38分钟前</span>
						</div>
						<div class="plhd">
							<p style="border: 0px;">真的是缘分，我们也是上个月才从贵州旅游回来，就是找<span
									class="wxname">阿贵</span>报的团。我是在动车上听到有一对小情侣在说旅游的事，打听了一下大概的情况。火车上加的<span
									class="wxname">阿贵</span>的微信。聊了10多分钟吧，就定了5日游的团，玩得也很好，黄果树瀑布一定要去！！我现在都推荐我朋友去贵州旅游就找<span
									class="wxname">阿贵</span>。确实很好。</p>
						</div>
					</div>

					<div class="pltb">

						<img src="static/picture/like-icon-line.png">
						<p>15</p>
						<img src="static/picture/pinglun-icon.png">
						<p>1</p>
					</div>
				</div>

				<div>
					<div class="touxiang1">
						<div style="margin-right:20px;position: relative;">
							<img src="static/picture/touxiang13.png">
						</div>

						<div class="touxiang11">
							<div style="display: flex;align-items: flex-end;">
								<h3>开心小舟999</h3>
								<h4>30分钟前</h4>
							</div>
							<img src="static/picture/jpds-icon.png">
						</div>
					</div>

					<div class="pinglun">
						<p>老同学一起聚聚，短短6天，走过了黄果树瀑布，西江千户苗寨，和最美的小七孔，真心感谢乐享自由行团队，带我们转遍了我们订制想去的所有景点，真的很省心省事，主要还满划算。一直很喜欢那句歌词“我要去贵州走一走荔波的七孔桥......”。贵州之旅也让我放飞了一把。。。。。。
						</p><br>
						<p>
							<img class="lazyimg" src="static/picture/12.jpg" data-original="static/picture/12.jpg" width="48%"
								style="display: inline;">
							<img class="lazyimg" src="static/picture/12.1.jpg" data-original="static/picture/12.1.jpg" width="48%"
								style="display: inline;">
						</p>

					</div>


					<div class="pltb">

						<img src="static/picture/like-icon-line.png">
						<p>36</p>
						<img src="static/picture/pinglun-icon.png">
						<p>2</p>
					</div>
				</div>

				<div>
					<div class="touxiang1">
						<div style="margin-right:20px;position: relative;">
							<img src="static/picture/touxiang14.png">
						</div>

						<div class="touxiang11">
							<div style="display: flex;align-items: flex-end;">
								<h3>芥茉柚子茶</h3>
								<h4>40分钟前</h4>
							</div>
							<!--<img src="static/picture/lydr-icon.png" />-->
						</div>
					</div>

					<div class="pinglun">
						<p>去贵州旅游那边最好是选择散客结伴行自由行比较好，报团游就是走马观花加进购物店，自己去玩可能又玩不到精髓的景点，景点之间距离远搭车找路累得够呛。之前去过贵州的一个朋友推荐了个乐享自由行行程规划师<span
								class="wxname">阿贵</span>，设计了专属的行程旅游方案，玩的很开心。在这里把<span class="gender">他</span>推荐给大家，微信：<button class="weixin" data-clipboard-target=".weixin">17788889999</button> 。在po几张旅途中的美照~</p>
						<p><img src="static/picture/10.jpg" data-original="static/picture/10.jpg" alt=""></p>

					</div>

					<div class="pltc">

						<div class="sanjiao"></div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/touxiang15.png" width="30px" height="30px">
							</div>
							<span class="hh3">刘梓涵同学</span>
							<span class="hh4">35分钟前</span>
						</div>
						<div class="plhd">
							<p>最近打算去贵州，有同行的驴友吗？</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/touxiang16.png" width="30px" height="30px">
							</div>
							<span class="hh3">飛翔在路上</span>
							<span class="hh4">34分钟前</span>
						</div>
						<div class="plhd">
							<p>是直接发加<span class="gender">他</span>微信联系就可以了吗，这样会不会很冒昧阿？</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/touxiang14.png" width="30px" height="30px">
							</div>
							<span class="hh3">芥茉柚子茶</span>
							<span class="hh4">33分钟前</span>
						</div>
						<div class="plhd">
							<p><span style="color: #fab400;">回复@飛翔在路上：</span>没关系的。<span
									class="wxname">阿贵</span>人很好的，很热情也很有耐心，做事也细心，肯定能给你安排好的。</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/touxiang17.png" width="30px" height="30px">
							</div>
							<span class="hh3">我听见背后有人骂我帅</span>
							<span class="hh4">34分钟前</span>
						</div>
						<div class="plhd">
							<p>我也好想去贵州玩啊！羡慕你们 ~</p>
						</div>

					</div>

					<div class="pltb">

						<img src="static/picture/like-icon-line.png">
						<p>22</p>
						<img src="static/picture/pinglun-icon.png">
						<p>2</p>
					</div>
				</div>


				<div>
					<div class="touxiang1">
						<div style="margin-right:20px;position: relative;">
							<img src="static/picture/touxiang18.png">
						</div>

						<div class="touxiang11">
							<div style="display: flex;align-items: flex-end;">
								<h3>谢庆</h3>
								<h4>20分钟前</h4>
							</div>
						</div>
					</div>

					<div class="pinglun">
						<p>前段时间刚和同事一起去贵州自由行的，感觉太累了！没有导游帮忙安排线路，景点的位置也不清楚
							刚去的那天晚上连酒店都找不到，很多地方都是要提前预订的浪费了很多时间和很多钱，下次再也不会自由行了。</p>
					</div>

					<div class="pltb">

						<img src="static/picture/like-icon-line.png">
						<p>15</p>
						<img src="static/picture/pinglun-icon.png">
						<p>0</p>
					</div>
				</div>


				<div>
					<div class="touxiang1">
						<div style="margin-right:20px;position: relative;">
							<img src="static/picture/touxiang19.png">
						</div>

						<div class="touxiang11">
							<div style="display: flex;align-items: flex-end;">
								<h3>季恩妮</h3>
								<h4>25分钟前</h4>
							</div>
							<img src="static/picture/jpds-icon.png">
						</div>
					</div>

					<div class="pinglun">
						<p>
							楼主你最近要去贵州吗，给你推荐一下贵州平坝的樱花海洋吧，贵州平坝距离贵阳市区只有一个小时的车程，这里每年3月份都有樱花节，每到春天，50余万株樱花竞相盛开，缤纷浪漫。现在正是樱花盛开的季节，粉色的樱花开满枝头，绝对会让你惊艳的，花香阵阵，花瓣飘落，那场景去年有幸见过一次，真的很美，推荐给你。
						</p>
						<p><img src="static/picture/15.jpg" data-original="static/picture/15.jpg" alt=""></p>
						<p><img src="static/picture/15-1.jpg" data-original="static/picture/15-1.jpg" alt=""></p>

					</div>


					<div class="pltb">

						<img src="static/picture/like-icon-line.png">
						<p>12</p>
						<img src="static/picture/pinglun-icon.png">
						<p>2</p>
					</div>
				</div>


				<div>
					<div class="touxiang1">
						<div style="margin-right:20px;position: relative;">
							<img src="static/picture/touxiang22.png">
						</div>

						<div class="touxiang11">
							<div style="display: flex;align-items: flex-end;">
								<h3>萨琳娜</h3>
								<h4>19分钟前</h4>
							</div>
							<img src="static/picture/lydr-icon.png">
						</div>
					</div>

					<div class="pinglun">
						<p>联系乐享自由行团队给安排行程，真的是省钱又划算。去年腊月22我去了贵州旅游，趁着放年假就带家人出去走走，春节旅游旺季，平均一人2000多的行程<span
								class="wxname">阿贵</span>导游还给省了零头，玩得还挺不错的，因为带有老人和小孩，出行有专车接送方便很多，住的酒店也很不错，而且<span
								class="wxname">阿贵</span>管家也很照顾我的家人，旅行途中有很多不懂的地方都会及时耐心给我们解答，旅行途中还帮我们拎东西、拍照，说话风趣幽默，人很好哦，这是<span class="gender">他</span>的微信：<button class="weixin" data-clipboard-target=".weixin">17788889999</button><br>
							上次回来的时候还说要给<span class="gender">他</span>介绍朋友过去的，有需要的朋友可以加<span class="gender">他</span>微信呦。</p>
						<p><img src="static/picture/17.jpg" data-original="static/picture/17.jpg" alt=""></p>

					</div>
					<div class="pltc">

						<div class="sanjiao"></div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/touxiang23.png">
							</div>
							<span class="hh3">如昨</span>
							<span class="hh4">22分钟前</span>
						</div>
						<div class="plhd">
							<p style="border-bottom: 0;">刚旅游完，现在还在回老家的车上，大家介绍的<span
									class="wxname">阿贵</span>导游安排的确实很好，很负责任也很热心，有时候晚上11点多联系都会回消息给我，挺不错的吧。</p>
						</div>





					</div>
					<div class="pltb" style="margin-top: 0;">

						<img src="static/picture/like-icon-line.png">
						<p>21</p>
						<img src="static/picture/pinglun-icon.png">
						<p>0</p>
					</div>
				</div>

				<div>
					<div class="touxiang1">
						<div style="margin-right:20px;position: relative;">
							<img src="static/picture/x01.jpg">
						</div>

						<div class="touxiang11">
							<div style="display: flex;align-items: flex-end;">
								<h3>奥斯卡戏精WANG</h3>
								<h4>35分钟前</h4>
							</div>
							<!--<img src="static/picture/lydr-icon.png" />-->
						</div>
					</div>

					<div class="pinglun">
						<p>上星期刚从那边回来，说到贵州，我算是很有发言权了，前后和不同的人和不同方式去过三次泰国，每次的感受都是不同的，分享给你：<br>
							   第一次：爸妈带我去，在深圳当地组的团，价格很高，而且行程也太赶很累，导游还带着我们进了几个购物店，真心玩不好！<br>
							  
							第二次：和闺蜜一起自己去玩，很自由，但很麻烦，要自己提前订房订票，找车，做攻略什么的，花的时间和费用过大，去了下小七孔包个车让师傅给坑了，如果楼主想自由行，切记一定要找人提前把什么都安排好，抵达贵州后就能开开心心的玩就好了，不然太麻烦了。<br>
							   第三次：上个星期去的，也是玩的最开心的一次，还有花的费用比自己过去要少很多，我们是自己订好往返机票，提前联系了贵州乐享自由行的金牌旅游管家<span
								class="wxname">阿贵</span>，这是<span class="gender">他</span>的微信：<button class="weixin" data-clipboard-target=".weixin">17788889999</button>
							，当时是<span class="gender">他</span>们给我们安排的4天行程，还未抵达贵州之前就帮我们把住宿、导游、门票、交通等都安排好了，还亲自到机场接我们，超级棒！很省心很划算，最主要是省了不少麻烦，到贵州后只要开心游玩景点就OK了！
						</p>
						<p><img src="static/picture/19.jpg" data-original="static/picture/19.jpg" alt=""></p>
					</div>

					<div class="pltc">

						<div class="sanjiao"></div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/x02.jpg" width="30px" height="30px">
							</div>
							<span class="hh3">小鱼遊世界</span>
							<span class="hh4">30分钟前</span>
						</div>
						<div class="plhd">
							<p>大家好，想问下，我跟哥们想去贵州，又不想跟团，自己玩的话怕错过很多景点。有点不知所措。怎么规划自己的线路比较好？怎么安排旅游线路？等等好像很多问题，看网上很多地方都提到贵州乐享自由行的管家<span
									class="wxname">阿贵</span>，不知道你们说的是不是同一个人？</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/x03.jpg" width="30px" height="30px">
							</div>
							<span class="hh3">巴拉bala</span>
							<span class="hh4">28分钟前</span>
						</div>
						<div class="plhd">
							<p>是阿，跟团怕被坑去购物，吃住不好，自己玩又担心交通门票酒店的问题，毕竟人生地不熟的就怕被骗。好烦恼</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/x01.jpg" width="30px" height="30px">
							</div>
							<span class="hh3">奥斯卡戏精WANG</span>
							<span class="hh4">30分钟前</span>
						</div>
						<div class="plhd">
							<p>哎呀，出去玩不用想那么多吧，你们可以加下我推荐的贵州乐享自由行<span class="wxname">阿贵</span>管家的微信<button class="weixin" data-clipboard-target=".weixin">17788889999</button>阿，品质自由行，跟传统旅行团很不一样，玩得自由开心，反正咨询又不用花钱，还能了解更多贵州旅游的事情，何乐而不为呢。
							</p>
						</div>



					</div>

					<div class="pltb">

						<img src="static/picture/like-icon-line.png">
						<p>18</p>
						<img src="static/picture/pinglun-icon.png">
						<p>2</p>
					</div>
				</div>


				<div>
					<div class="touxiang1">
						<div style="margin-right:20px;position: relative;">
							<img src="static/picture/x04.jpg">
						</div>

						<div class="touxiang11">
							<div style="display: flex;align-items: flex-end;">
								<h3>sunny</h3>
								<h4>14分钟前</h4>
							</div>
							<img src="static/picture/jpds-icon.png">
						</div>
					</div>

					<div class="pinglun">
						<p>我和朋友两个人去年夏天去过贵州，都说贵州旅游很实惠不贵，但是当自己玩的时候，全程花费都过4k了，当时游玩的是黄果树瀑布，小七孔，千户苗寨，一共5天，这些景点距离太分散，走了很多冤枉路不说，还到处被人坑，在路上找车的时候还一直被搭讪，搭车去千户苗寨的时候忘了谈好价格，被坑车费要400多，整个旅程的各种心酸只有我自己懂，所以还是提醒一下大家，去贵州一定要找人提前给安排好，省心多了。
						</p>
					</div>
					<div class="pltc">

						<div class="sanjiao"></div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/x05.jpg">
							</div>
							<span class="hh3">吃货最美丽</span>
							<span class="hh4">22分钟前</span>
						</div>
						<div class="plhd">
							<p style="border-bottom: 0;">那么贵，我们是找的楼上推荐的乐享自由行<span
									class="wxname">阿贵</span>导游给安排的行程，你说的这三个景点都去了，还去了镇远古镇、梵净山，总共6天花了也就1600多一点，而且是吃住行玩一条龙服务的，玩得挺不赖的，我把<span class="gender">他</span>的微信贴出来给大家添加
								<button class="weixin" data-clipboard-target=".weixin">17788889999</button> ，想去的话可以找<span class="gender">他</span>咨询一下，也能少花冤枉钱。</p>
						</div>
					</div>
					<div class="pltb" style="margin-bottom: 20px;">

						<img src="static/picture/like-icon-line.png">
						<p>18</p>
						<img src="static/picture/pinglun-icon.png">
						<p>0</p>
					</div>
				</div>


				<div>
					<div class="touxiang1">
						<div style="margin-right:20px;position: relative;">
							<img src="static/picture/x06.jpg">
						</div>

						<div class="touxiang11">
							<div style="display: flex;align-items: flex-end;">
								<h3>大董d</h3>
								<h4>27分钟前</h4>
							</div>
							<!--<img src="static/picture/jpds-icon.png"/>-->
						</div>
					</div>

					<div class="pinglun">
						<p>很多人问贵州是跟团好还是自由行好？ 可以肯定的是，不管你去哪个地方有个熟悉的人带着您肯定是最好的。
							出门在外有很多的不便，大多旅游城市都比较黑，能找个可靠的人带你玩（不购物、不赶时间）就不要自己折腾了，本身出门旅行就是为了散心的，事事都操心就很难玩的好，要享受旅行的过程。所以建议大家跟个靠谱的地接才是最重要的。
						</p>

						<img class="lazyimg" data-original="static/picture/21.jpg" src="static/picture/21.jpg"
							style="display: inline;">

					</div>

					<div class="pltc">

						<div class="sanjiao"></div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/x07.jpg">
							</div>
							<span class="hh3">风来疏竹9</span>
							<span class="hh4">25分钟前</span>
						</div>
						<div class="plhd">
							<p>楼主有什么靠谱的旅行社推荐吗</p>
						</div>


						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/x06.jpg">
							</div>
							<span class="hh3">大董d</span>
							<span class="hh4">20分钟前</span>
						</div>
						<div class="plhd">
							<p>我上次过去玩是找的贵州当地的乐享自由行团队，当地自由行团队好就好在比跟团游自由，到景区可以自由逛，想玩多久就玩多久。到景点也是车接车送，非常方便。</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/x07.jpg">
							</div>
							<span class="hh3">风来疏竹9</span>
							<span class="hh4">20分钟前</span>
						</div>
						<div class="plhd">
							<p>楼主还有没有乐享自由行的联系方式？方便的话推荐一下呗。</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/x06.jpg">
							</div>
							<span class="hh3">大董d</span>
							<span class="hh4">20分钟前</span>
						</div>
						<div class="plhd">
							<p>我只有<span class="gender">他</span>们一个旅游管家<span class="wxname">阿贵</span>的微信<button class="weixin" data-clipboard-target=".weixin">17788889999</button>
								。人挺不错的，提前给安排好行程、吃住行一条龙服务。还会免费接送站，到一个陌生的环境需要一份安心，毕竟贵州山区交通不便。</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/x08.jpg">
							</div>
							<span class="hh3">信仰蓝黑</span>
							<span class="hh4">20分钟前</span>
						</div>
						<div class="plhd">
							<p>说得太对了，有时候想去一个地方玩，攻略看完没有新鲜感累都不想去了。</p>
						</div>
					</div>

					<div class="pltb">

						<img src="static/picture/like-icon-line.png">
						<p>28</p>
						<img src="static/picture/pinglun-icon.png">
						<p>4</p>
					</div>
				</div>

				<div>
					<div class="touxiang1">
						<div style="margin-right:20px;position: relative;">
							<img src="static/picture/x09.jpg">
						</div>

						<div class="touxiang11">
							<div style="display: flex;align-items: flex-end;">
								<h3>罗伊小公举</h3>
								<h4>27分钟前</h4>
							</div>
							<!--<img src="static/picture/jpds-icon.png"/>-->
						</div>
					</div>

					<div class="pinglun">
						<p>我总结了一些经验给大家：<br>
							第一点，网上好多游记攻略很不靠谱，容易被误导，浪费时间。<br>
							第二点，贵州拉客的特别多，（要是选择旅行社，一定要小心再小心，不然就会被坑...），还是建议找个当地导游给你安排可靠，我们就是找的贵州当地导游<span
								class="wxname">阿贵</span>，人很好，<span class="gender">他</span>的回头客源很多，省事又省钱。<br>
							差不多每人花费不多，实事求是的价格，听景区有些游客在旅行社报团很便宜，其实门票加起来都不止呢，到了景区后才发现到处都是套路。还是有个熟知当地的向导比较好。<br>
							乐享自由行<span class="wxname">阿贵</span>的联系方式是：<button class="weixin" data-clipboard-target=".weixin">17788889999</button> </p>
					</div>

					<div class="pltc">

						<div class="sanjiao"></div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/x10.jpg">
							</div>
							<span class="hh3">小刘</span>
							<span class="hh4">25分钟前</span>
						</div>
						<div class="plhd">
							<p>赞成！我去贵州也是找的<span class="wxname">阿贵</span>团队的<span
									class="wxname">阿贵</span>管家，服务挺好的，回程的时候还给我们办理的登机牌，安全到家后还来电询问反馈！很贴心！</p>
						</div>


						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/x11.jpg">
							</div>
							<span class="hh3">唐姐</span>
							<span class="hh4">20分钟前</span>
						</div>
						<div class="plhd">
							<p>现在旅行社的团，基本都有着各种隐形消费，在我们香港自由行驴友的圈子里，乐享自由行无论是品质还是服务与口碑，都是有口皆碑的。这种半自助的旅游才是现代人想要的旅游嘛！</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/x12.jpg">
							</div>
							<span class="hh3">樊不烦</span>
							<span class="hh4">20分钟前</span>
						</div>
						<div class="plhd">
							<p>是的，我们提前一个多月就预定好了，当时因为订的早再加上我的软磨硬泡<span class="wxname">阿贵</span>导游还给我们优惠了100一个人。</p>
						</div>
					</div>

					<div class="pltb">

						<img src="static/picture/like-icon-line.png">
						<p>28</p>
						<img src="static/picture/pinglun-icon.png">
						<p>4</p>
					</div>
				</div>

				<div>
					<div class="touxiang1">
						<div style="margin-right:20px;position: relative;">
							<img src="static/picture/x13.jpg">
						</div>

						<div class="touxiang11">
							<div style="display: flex;align-items: flex-end;">
								<h3>又又吉吉</h3>
								<h4>27分钟前</h4>
							</div>
							<!--<img src="static/picture/jpds-icon.png"/>-->
						</div>
					</div>

					<div class="pinglun">
						<p>记得那天爸爸对我说，等你有假期了，我们一起去旅行，我想都没想就答应了，因为这是我长大后我们跟父母的第一次旅行，毕竟自己有经济能力了，想带<span class="gender">他</span>们去看看外面的世界，我很珍惜，也无比期待。当爸爸告诉我说<span class="gender">他</span>想去看看亚洲第一的黄果树瀑布，我很受感触，父母一直操劳辛苦，很少有机会出去旅游走走看看，就让我们一起去旅行吧。贵州是一个美丽的地方，我们这次出行提前联系了贵州乐享自由行的<span
								class="wxname">阿贵</span>旅游管家，管家很热情，把一切都安排的妥妥的，管家微信：<button class="weixin" data-clipboard-target=".weixin">17788889999</button>。贵州对我来说是一个可以一去再去的地方，阳光、山水、民俗风情，都值得人留恋。</p>
						<p><img src="static/picture/22.jpg" data-original="static/picture/22.jpg" alt=""></p>
					</div>

					<div class="pltc">

						<div class="sanjiao"></div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/x14.jpg">
							</div>
							<span class="hh3">阿清</span>
							<span class="hh4">25分钟前</span>
						</div>
						<div class="plhd">
							<p>羡慕能跟家人一起去旅行。</p>
						</div>


						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/x15.jpg">
							</div>
							<span class="hh3">小贤</span>
							<span class="hh4">20分钟前</span>
						</div>
						<div class="plhd">
							<p><span class="wxname">阿贵</span>管家的微信是不是这个啊<button class="weixin" data-clipboard-target=".weixin">17788889999</button>怎么加了十多分钟了还没通过？</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/x13.jpg">
							</div>
							<span class="hh3">又又吉吉</span>
							<span class="hh4">20分钟前</span>
						</div>
						<div class="plhd">
							<p>微信没错，是这个，可能在忙或者没看到吧 ，看到肯定会通过的。</p>
						</div>

						<div class="pltc1">
							<div class="pltx">
								<img src="static/picture/x15.jpg">
							</div>
							<span class="hh3">小贤</span>
							<span class="hh4">20分钟前</span>
						</div>
						<div class="plhd">
							<p>嗯嗯，好的好的，已经添加了，跟<span class="wxname">阿贵</span>管家聊得还挺不错的，行程很有特色，只有3天时间玩，犹豫要去哪些景点ing。</p>
						</div>
					</div>

					<div class="pltb">

						<img src="static/picture/like-icon-line.png">
						<p>28</p>
						<img src="static/picture/pinglun-icon.png">
						<p>4</p>
					</div>
				</div>

				<div>
					<div class="touxiang1">
						<div style="margin-right:20px;position: relative;">
							<img src="static/picture/x16.jpg">
						</div>

						<div class="touxiang11">
							<div style="display: flex;align-items: flex-end;">
								<h3>依凡在路上跑</h3>
								<h4>13分钟前</h4>
							</div>
							<img src="static/picture/jpds-icon.png">
						</div>
					</div>

					<div class="pinglun">
						<p>看到这么多好评，刚加了<span class="wxname">阿贵</span>管家微信<button class="weixin" data-clipboard-target=".weixin">17788889999</button>正在问，管家不厌其烦给我解答疑惑^o^希望这次旅游玩的开心！</p>
					</div>
					<div class="pltb">
						<img src="static/picture/like-icon-line.png">
						<p>2</p>
						<img src="static/picture/pinglun-icon.png">
						<p>0</p>
					</div>
				</div>

				<div class="fbpl">
					<textarea id="chatarea" class="bot-chat02-area" placeholder="请输入评论"></textarea>
				</div>

				<div class="plan">
					<div class="tpbq">
						<img src="static/picture/bq-icon.png">
						<span>表情</span>
						<img style="margin-left: 30px;" src="static/picture/tp-icon.png">
						<span>图片</span>
					</div>
					<div>
						<a class="plbt"
							href="http://ucsy.yihao101.com/gz-ucxxl2-m/index.html?utm_source=ucxxl&amp;utm_medium=%E4%B8%80%E5%8F%B7%E7%AE%A1%E5%AE%B6sy&amp;utm_term=%E8%B4%B5%E5%B7%9E%2D%E6%94%BB%E7%95%A5%2D4%2E2&amp;utm_content=%E8%B4%B5%E5%B7%9E%2Dcpc1&amp;utm_campaign=%E9%BB%94%E4%B8%9C%E5%8D%97%EF%BC%8C%E4%BD%A0%E4%B8%8D%E7%9F%A5%E9%81%93%E7%9A%84%E8%B4%B5%E5%B7%9E#">评论</a>
					</div>
				</div>
			</div>
			<div class="main-right hidem" style="position: relative; left: 0px;">

				<div style="display: flex;">
					<h1>相关问题</h1>
					<a href="javascript:;">查看更多
						<div class="zhijiao2"></div>
					</a>
				</div>

				<div style="border: 0px;">

					<div class="xgs">
						<div style="margin-right: 10px;">
							<img src="static/images/xiangguan2.jpg">
							<p class="xgp">假期去贵州住哪比较好</p>
						</div>
						<div>
							<img src="static/images/xiangguan1.jpg">
							<p class="xgp">贵州特色美食有哪些</p>
						</div>
					</div>

					<div class="xgs">
						<div style="margin-right: 10px;">
							<img src="static/images/xiangguan3.jpg">
							<p class="xgp">贵州哪些景点比较好玩</p>
						</div>
						<div>
							<img src="static/images/xiangguan4.jpg">
							<p class="xgp">去贵州先玩那个景点好</p>
						</div>
					</div>

				</div>

			</div>
		</div>
		<div class="bottom">
			<p><span class="Fcompany">Copyright@2019 湖南乐迪文化传媒有限公司</span></p>
		</div>
	</div>

<script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery_lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script src="static/js/ld.js"></script>
<script src="https://cdn.bootcss.com/clipboard.js/2.0.4/clipboard.min.js"></script>

<!-- 弹出居中的模态框 -->
<div class="clipboards">
	<div class="clipboards-main" style="border-radius: 24px; background: #f8f8f8;">
		<!--<div class="clpclosed " name="closed">×</div>-->
		<div class="clpbox" style="padding:0 10px; ">
			<p class="clpinfo">
				<strong style="color: #333;"><span style="font-size: 15px; "><span class="wxname"></span>微信</span>: <i
						class="weixin">yanting090</i></strong>
			</p>
			<p class="clpinfo2" style="text-align: center;font-size: 16px;line-height: 30px; ">
				<span style="font-size: 18px; ">微信号已复制</span><br> 您可以到微信中直接粘贴
				<br> 添加TA为好友
			</p>
			<hr>
			<div name="closed" style="color: #509ad7; margin-top: 10px; font-weight: bold;">我知道了</div>
		</div>
		<div class="clpbox2">
			<p class="clpinfo2">
				您的浏览器不支持此功能，<br> 请您
				<span class="red">手动长按复制</span>微信号去添加
			</p>
			<p class="clpinfo2">
				<span class="weixin clpwx">yanting090</span>
			</p>

		</div>
	</div>
</div>

</body>

</html>