<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

<title>去四川旅游攻略-2019 旅游达人教您玩转成都、稻城亚丁、峨眉山、乐山的最佳省钱攻略</title>

<link rel="shortcut icon" href="http://t.hnldcm.com/static/icon/ld.png">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<link href="static/css/ld.css" rel="stylesheet">

<!--统计代码-->

<!--统计代码-->
</head>

<body>
<div id="pageWrapper" class="font-normal">

  <div id="title">
    <div class="header">
      <h1 class="title"> 去四川旅游攻略-2019 旅游达人教您玩转成都、稻城亚丁、峨眉山、乐山的最佳省钱攻略 </h1>
      <p class="subtitle">健康生活 <span>2019-04-28</span> <span>阅读量 2975 关注 118</span> </p>
      <section id="followconModule"></section>
    </div>
  </div>

<div class="content-body bjh-content-body content-body-readPer"> 
  <div class="content-item content-text-item">
    <p>中国有句比催眠和下药还好用的话——'来都来了“，所以一般旅游景点的消费都是堪比北上广的水平，但是很多景点门票动辄两三百，其实真正会玩的人，都会提前做好准备的，我这次跟几个姐妹一起玩了5天，总结就是用了最少的钱玩转最精华的景点。</p>
    <p><strong>这篇攻略就来教你花最少的钱玩转四川。</strong></p>
    <p><img data-original="static/picture/201905111347586210.jpg"></p>
    <p>在四川浪了5天，玩了乐山、峨眉山、峨眉山金顶、都江堰、青城山、宽窄巷子、锦里......</p>
    <p>总之一路下来惊喜不断，住着舒服，玩的开心，花钱也少，很开心很浪漫的一次旅途！</p>
    <p><strong>美丽的云海总是让人流连忘返</strong></p>
    <p><img data-original="static/picture/201905091346358964.jpg"></p>
    <p>出游前自己做了很多攻略，发现在四川景点多，但是好玩的景点之间相隔距离比较远，比较分散，本地方言杂乱，可能交流有障碍。</p>
    <p>对四川交通不是很清楚的我就否定了自己出去玩的想法，说实在的我晕车，所以我找了一个当地向导安排的我的全程线路，到成都签合同、住宿安排、车辆，就是惊喜，安排的非常好。</p>
    <p>要去四川玩的，建议找<span class="gender">她</span>安排，<span class="wx">xiaoming</span>(←微信手机同号)。</p>
    <p>ps:这不是广告，是我自己玩下来觉得很不错，良心推荐</p>
    <p>之前看过攻略，四川必去的地方“乐山、峨眉山、都江堰、青城山”。 建议即将要去的朋友，<strong>一定要提前一周以上预定，热门景点限制人数，不提前决定门票座位都抢不到。</strong></p>
    <p><img data-original="static/picture/201905091404120761.jpg"></p>
    <p>四川不止有峨眉山、乐山</p>
    <p>一直以来四川都是旅行热门目的地，但四川很大，如果你们规划了一周左右的时间的话，除去交通时间成本，推荐以<strong>成都</strong>为站点，向外铺开，一般人只玩峨眉山、乐山。</p>
    <p>但规划好的话6天时间是可以玩都江堰、周边的景点、青城山，以及更成都网红打卡必去的地点。</p>
    <p><img data-original="static/picture/201905051610589140.jpg"></p>
    <h1>行程安排<strong></strong></h1>
    <p style="margin-top:30px;margin-right:0;margin-bottom:0;margin-left:0;border-bottom:1px dashed rgb(34,34,34);padding:0 0 0 0 ;text-align:justify;text-justify:inter-ideograph;line-height:25px"><strong>DAY1</strong></p>

    <p><strong>成都接站（含接站， 住成都市内）</strong><strong></strong></p>
    <p style="margin-top:30px;margin-right:0;margin-bottom:0;margin-left:0;border-bottom:1px dashed rgb(34,34,34);padding:0 0 0 0 ;text-align:justify;text-justify:inter-ideograph;line-height:25px"><strong>DAY2</strong></p>

    <p><strong>成都-乐山大佛-峨眉山（早中晚，住峨眉山）</strong><strong></strong></p>
    <p style="margin-top:30px;margin-right:0;margin-bottom:0;margin-left:0;border-bottom:1px dashed rgb(34,34,34);padding:0 0 0 0 ;text-align:justify;text-justify:inter-ideograph;line-height:25px"><strong>DAY3</strong></p>

    <p><strong>峨眉山金顶-返回成都（早中，住成都市内）</strong></p>
    <p style="margin-top:30px;margin-right:0;margin-bottom:0;margin-left:0;border-bottom:1px dashed rgb(34,34,34);padding:0 0 0 0 ;text-align:justify;text-justify:inter-ideograph;line-height:25px"><strong>DAY4</strong></p>

    <p><strong>成都-都江堰-青城山-成都（早中，住成都市内）</strong><strong></strong></p>
    <p style="margin-top:30px;margin-right:0;margin-bottom:0;margin-left:0;border-bottom:1px dashed rgb(34,34,34);padding:0 0 0 0 ;text-align:justify;text-justify:inter-ideograph;line-height:25px"><strong>DAY5</strong></p>
    <p><strong>返程回家</strong></p>

    <p>这个是<span class="nickname">小明</span>给我安排的行程。车辆、导游、住宿、特色美食全部都安排完了，很方便。</p>
    <p>游玩下来的总结就是：松弛有度，经典全玩，浪漫随行，民族特色突出。</p>
    <p>良心推荐：<span class="nickname">小明</span>的微信是<span class="wx">xiaoming</span>(←微信手机同号)</p>
    <p><img data-original="static/picture/201905091529187568 (1).jpg"></p>
    <p><img data-original="static/picture/201905121206557753.png"></p>

    <p><strong>第一天: 到达成都，去成都网红景点打卡，晚上住成都</strong></p>
    <p><img data-original="static/picture/201905121207048623.png"></p>
    <p>因为我们是上午10:30到的成都，<span class="nickname">小明</span>接到我们就送我们到酒店，签定完正式的旅游合同，就带我们逛吃逛吃！小龙坎的红糖糍粑、大龙燚的牛油火锅、康二姐的兔儿头、陆老爹猪蹄面...........好7的东西实在太多啦！简直好吃到爆。简单概括一下，成都不是中转站，可以用美食串起成都，好吧，原谅我是一个吃货</p>
    <p><img data-original="static/picture/201905121109467167.jpg"></p>
    <p><img data-original="static/picture/201905121109587675.jpg"></p>
    <p><img data-original="static/picture/201905121110114980.jpg"></p>
    <p><img data-original="static/picture/201905121110335683.jpg"></p>
    <p><img data-original="static/picture/201905121110242988.jpg"></p>
        
      <p>1、建议飞机时间早点到，成都作为省会，可以找齐四川各地的美食作为吃货四川美食不会让你失望的。</p>
      <p>2、带好雨伞，晕车药，防晒霜，（旅途中都会用到）。</p>
      <p><img data-original="static/picture/201905121206246152.png"></p>
      <p><strong>第二天：乐山大佛+峨眉山 晚上住峨眉山</strong></p>
      <p><img data-original="static/picture/201905121206413925.png"></p>
      <p>今天的乐山大佛之行美到爆炸，之前只是在电视上网络上看到的图片，今天来到面前，体验到大佛的雄伟和震撼！同样峨眉山的也是一样，居然还能看到那么漂亮的美景，这一趟真的不虚此行，大自然简直是太神奇了！</p>
      <p><img data-original="static/picture/201905121112422080.jpg"></p>
      <p><img data-original="static/picture/201905121113122294.jpg"></p>
      <p><img data-original="static/picture/201905081617257734.jpg"></p>
      <p><img data-original="static/picture/201905121113288203.jpg"></p>
        
        <p><img data-original="static/picture/201905121205513603.png"/></p>
        <p><strong>第三天：峨眉山金顶-返回成都 晚上住成都</strong></p>
        <p><img data-original="static/picture/201905121206073359.png"></p>
        <p>早餐后前往峨眉山金顶，对于之前不了解的情况下，总以为只是看着峨眉山就没有了，金顶给我的感觉太壮观了，而且景色也是相当的不错的。</p>
        <p><img data-original="static/picture/201905081751559648.jpg"/></p>
        <p><img data-original="static/picture/201905081758067539.jpg"/></p>
        <p><img data-original="static/picture/201905121209497402.png"></p>

        <p><strong>第四天：成都-都江堰-青城山-成都 晚上住成都</strong></p>

        <p><img data-original="static/picture/201905121210046445.png"></p>
        <p>都江堰虽然景区不大，但是景区很多景点都是非常有特色的，比如安澜索桥、南桥、中国古镇一条街.......都是非常有特色的，然后青城山景区可以看到很多原生态的寺庙，能够保存下来确实 不易，整体下来我觉得都是非常值得一看。</p>
        <p><img data-original="static/picture/201905121135084179.jpg"></p>
        <p><img data-original="static/picture/201905121135197373.jpg"></p>
        <p><img data-original="static/picture/201905091401438857.jpg"></p>
        <p><img data-original="static/picture/201905121206557753.png"></p>
        <p>网红地点打卡+成都美食+成都夜景 晚上住成都</p>
        <p><img data-original="static/picture/201905121205343212.png"></p>
        <p>美好的一天，我们兴奋的很早就起床啦！迫不及待的去往成都大街小巷，不得不说，好吃好玩的地方太多了，而且都是在其他地方看不到的独一无二的成都特色，总之非常赞！</p>
        <p><img data-original="static/picture/201905091029437500.jpg"></p>
        <p><img data-original="static/picture/201905091029531806.jpg"></p>
        <p><img data-original="static/picture/201905091041247021.jpg"></p>
        <p><img data-original="static/picture/201905091030032294.jpg"></p>
        <p><img data-original="static/picture/201905091030125634.jpg"></p>
        <p><img data-original="static/picture/201905091030250947.jpg"></p>

        <p><img data-original="static/picture/201905121211226679.png"></p>
        <p><strong>第五天: 讲不出的再见--四川--还有旅游向导</strong></p>
        <p>再见四川，再见我的度假时光，下次我们再相见谢谢当地旅游向导<span class="nickname">小明</span>，给我这样一次完美的旅行。</p>
        <p><strong>总结：</strong>玩不到的价格，6天5晚的行程，玩四川最热门景点，性价比超高。推荐大家可以玩这条线路， 加<span class="nickname">小明</span>微信提前订好：<span class="wx">xiaoming</span>(←微信手机同号)直接提出你们的需求，<span class="gender">她</span>规划出适合你们最好的线路，听说最近有优惠。我游玩的线路仅供参考，具体大家有什么要求都可以问<span class="gender">她</span>，四川景点太多了，下次去还会再找<span class="nickname">小明</span>帮我规划线路的。</p>
        <p><img data-original="static/picture/201905121058018603.jpg"/></p>
  </div>
</div>
      
  <div class="commentEmbed">
    <div class="title-text" style="color: #e79b0e;font-size:200%;padding: 10px;">讨论区</div>
    <div class="list">
      <div class="commentEmbed-layer">
        <div class="commentEmbed-listItem">
          <div class="headIcon" style="background-image: url(static/images/1.jpg);"></div>
          <div class="commentEmbed-content">
            <div class="commentEmbed-name"> 做梦都想出去浪
              <div class="commentEmbed-fav"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>75</div>
            </div>
            <div class="commentEmbed-msg"><em class="kefuName"></em>
              <p><span style="color: rgb(127, 127, 127);">近期想带着老爸老妈去玩一圈。不知道是跟团好、还是自由行？</span></p>
              <p style="margin-top:30px;margin-right:0;margin-bottom:0;margin-left:0;border-bottom:1px dashed rgb(34,34,34);padding:0 0 0 0 ;text-align:justify;text-justify:inter-ideograph;line-height:25px"></p>
              </br>
              <p><strong>楼主回复：</strong>如果你是第一次的话建议跟高品质团，第二次再去的话就可以根据自己的情况选择自由行，喜欢的地方可以多待几天，找订个们的协议酒店然后自己去玩。毕竟第一次去不知道从哪里玩起。</p>
            </div>
          </div>
        </div>
      </div>

      <div class="commentEmbed-layer">
          <div class="commentEmbed-listItem">
          <div class="headIcon" style="background-image: url(static/images/4.jpg);"></div>
          <div class="commentEmbed-content">
              <div class="commentEmbed-name">Δ扛刀萝莉ㄟ▔＾▔ㄟ
                  <div class="commentEmbed-fav"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>56</div>
              </div>
              <div class="commentEmbed-msg">
                <p><span style="color: rgb(127, 127, 127);">很赞的攻略 不仅有详细玩法还提供联系方式，你这个线路有进购物店吗？</span></p>
                <p style="margin-top:30px;margin-right:0;margin-bottom:0;margin-left:0;border-bottom:1px dashed rgb(34,34,34);padding:0 0 0 0 ;text-align:justify;text-justify:inter-ideograph;line-height:25px"></p>
              </br>
                <p><strong>楼主回复：</strong>这个线路是品质纯玩的，没有购物店。我在成都买了一些土特产都是自由活动的时候自己去买的</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="commentEmbed-layer">
          <div class="commentEmbed-listItem">
          <div class="headIcon" style="background-image: url(static/images/5.jpg);"></div>
          <div class="commentEmbed-content">
              <div class="commentEmbed-name"> ~骄纵萝莉
                  <div class="commentEmbed-fav"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>12</div>
              </div>
              <div class="commentEmbed-msg">
                <p><span style="color: rgb(127, 127, 127);">我是去度蜜月的，也是找的<span class="nickname">小明</span>，安排的非常好！</span></p>
                <p style="margin-top:30px;margin-right:0;margin-bottom:0;margin-left:0;border-bottom:1px dashed rgb(34,34,34);padding:0 0 0 0 ;text-align:justify;text-justify:inter-ideograph;line-height:25px"></p>
              </br>
                <p><strong>楼主回复：</strong>是啊，要不我也不会推荐</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="commentEmbed-layer">
          <div class="commentEmbed-listItem">
          <div class="headIcon" style="background-image: url(static/images/6.jpg);"></div>
          <div class="commentEmbed-content">
              <div class="commentEmbed-name">一身干净味
                  <div class="commentEmbed-fav"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>71</div>
              </div>
              <div class="commentEmbed-msg">
                <p style="margin-top:30px;margin-right:0;margin-bottom:0;margin-left:0;border-bottom:1px dashed rgb(34,34,34);padding:0 0 0 0 ;text-align:justify;text-justify:inter-ideograph;line-height:25px"><span style="color: rgb(127, 127, 127);">我也准备了很久想去四川，在玩法和经济上，我和我老公的意见不能统一，你这次的旅行，是跟团，还是怎么玩？</p>
              </br>
                <p><strong>楼主回复：</strong>我和我朋友几个一起做的结伴自由行，因为12月底去的，所以酒店，用车，机票，相对来说是比较便宜的，全程特色住宿就有2晚，应该叫定制结伴自由行吧！</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="commentEmbed-layer">
          <div class="commentEmbed-listItem">
          <div class="headIcon" style="background-image: url(static/images/7.jpg);"></div>
          <div class="commentEmbed-content">
              <div class="commentEmbed-name"> ╰°放开那萌比o-
                  <div class="commentEmbed-fav"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>23</div>
              </div>
              <div class="commentEmbed-msg">
                <p><span style="color: rgb(127, 127, 127);">美女你们的客栈住宿怎么样？</p>
                <p style="margin-top:30px;margin-right:0;margin-bottom:0;margin-left:0;border-bottom:1px dashed rgb(34,34,34);padding:0 0 0 0 ;text-align:justify;text-justify:inter-ideograph;line-height:25px"></p>
              </br>
                <p><strong>楼主回复：</strong>我们住宿还可以，特色的酒店，环境挺好的，具体可以加微信问呢</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="commentEmbed-layer">
          <div class="commentEmbed-listItem">
          <div class="headIcon" style="background-image: url(static/images/8.jpg);"></div>
          <div class="commentEmbed-content">
              <div class="commentEmbed-name">【鹿爷】
                  <div class="commentEmbed-fav"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>175</div>
              </div>
              <div class="commentEmbed-msg">
                <p><span style="color: rgb(127, 127, 127);"><span class="nickname">小明</span>的口碑确实不错，谢谢推荐，已经旅游回家了，时间比较赶，只玩了3天</p>
                <p style="margin-top:30px;margin-right:0;margin-bottom:0;margin-left:0;border-bottom:1px dashed rgb(34,34,34);padding:0 0 0 0 ;text-align:justify;text-justify:inter-ideograph;line-height:25px"></p>
              </br>
                <p><strong>楼主回复：</strong>玩的开心就好，看来<span class="nickname">小明</span>还是没有辜负我的推荐哈</p>
              </div>
            </div>
          </div>
        </div>

        <div class="commentEmbed-layer">
          <div class="commentEmbed-listItem">
          <div class="headIcon" style="background-image: url(static/images/9.jpg);"></div>
          <div class="commentEmbed-content">
              <div class="commentEmbed-name"> じ污霉味的小仙女
                  <div class="commentEmbed-fav"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>125</div>
              </div>
              <div class="commentEmbed-msg">
                <p><span style="color: rgb(127, 127, 127);">安排的非常好，这次时间有限没有玩够，下次我要带着爸妈一起再去，呵呵！</p>
              </div>
            </div>
          </div>
        </div>

        <div class="commentEmbed-layer">
          <div class="commentEmbed-listItem">
          <div class="headIcon" style="background-image: url(static/images/10.jpg);"></div>
          <div class="commentEmbed-content">
              <div class="commentEmbed-name">三生一梦
                  <div class="commentEmbed-fav"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>7</div>
              </div>
              <div class="commentEmbed-msg">
                <p><span style="color: rgb(127, 127, 127);">谢谢推荐，<span class="nickname">小明</span>人很好，讲解感觉非常专业</p>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

<div align="center" style="color: #bdbcb9" >
<p>版权所有：湖南乐迪文化传媒有限公司 </p>
</div>

<script data-original="static/js/ld.js"></script>

<script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery_lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script>
$(function() {
    $("img").lazyload(
      {
        // 距离屏幕 200 像素时加载
        threshold:200,
        // 淡入效果
        effect:"fadeIn",
        // 当插件找到10个不在可见区域内的图片时停止搜索
        failure_limit : 10,
        // 加载隐藏图片
        skip_invisible : false,
        // 设置占位符替代显示区域内待加载的图片
        // placeholder:'loading.gif'
      }
    );
});
</script>

</body>
</html>