html {
    line-height: .64rem;
}



.user-lv {
    font-size: .26667rem;
    color: #474747;
    padding: 0 .08rem;
    text-align: center;
    line-height: .32rem;
    height: .32rem;
    border-radius: .05333rem;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 0 0 .08rem .13333rem;
    -webkit-margin-before: 0;
    -webkit-margin-after: .08rem;
}

    .user-lv:before {
        content: "";
        width: 200%;
        height: 200%;
        padding: 3px;
        position: absolute;
        left: -2px;
        top: -2px;
        border: 1px solid #474747;
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        transform: scale(0.5,0.5);
        -webkit-transform: scale(0.5,0.5);
        border-radius: .10667rem;
    }

    .user-lv.lv-s2 {
        background-color: #ffed92;
        border: 1px solid #fff;
    }

    .user-lv.lv-s3 {
        background-color: #ffdb26;
        border: 1px solid #fff;
    }

    .user-lv.lv-s4 {
        background-color: #474747;
        color: #ffdb26;
        border: 1px solid #474747;
        line-height: .37333rem;
        height: .37333rem;
        padding: 0 .10667rem;
    }

        .user-lv.lv-s4:before {
            display: none;
        }




.clearfix:after, .q-detail .meta:after {
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
    visibility: hidden;
    content: ".";
}

.sortbar .sort-dropdown a + a, .space, .item + .item {
    position: relative;
}

    .sortbar .sort-dropdown a + a:before, .space:before, .item + .item:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        border-top: 1px solid #e5e5e5;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }

.space {
    position: relative;
}

    .space:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: 1px solid #e5e5e5;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
    }

body {
    margin: 0 auto;
}

.container {
    padding-bottom: 2rem;
    line-height: 1.33;
    font-size: .4rem;
}

img {
    max-width: 100%;
}

.q-detail {
    padding: .5rem .4rem .4rem .4rem;
    box-shadow: 0 .05333rem .32rem 0 rgba(0,0,0,0.08);
    position: relative;
}

    .q-detail.fixed {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 15;
        background-color: #fff;
        display: none;
    }

        .q-detail.fixed .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
        }

        .q-detail.fixed .stat, .q-detail.fixed .meta, .q-detail.fixed .desc {
            display: none;
        }

    .q-detail:before {
        content: '';
        position: absolute;
        width: .53333rem;
        height: .53333rem;
        /*background: url(../images/sprite-icon01.png) -4.4rem -1.89333rem no-repeat;*/
        background-size: 5.46667rem auto;
        left: 0;
        top: .58667rem;
    }

    .q-detail .title {
        width: 100%;
    overflow: hidden;
    line-height: 26px;
    font-size: 20px;
    color: #555;
    font-weight: bold;
    }

    .q-detail .desc {
        margin-bottom: .4rem;
        overflow: auto;
    }

    .q-detail .desc-img {
        float: right;
        margin-left: .26667rem;
        width: 1.81333rem;
        height: 1.81333rem;
        background-color: #f8f8f8;
        overflow: hidden;
    }

        .q-detail .desc-img .num {
            position: absolute;
            padding: 0 .26667rem;
            height: .53333rem;
            line-height: .53333rem;
            font-size: .32rem;
            background-color: rgba(0,0,0,0.6);
            border-radius: .26667rem;
            bottom: .13333rem;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            color: #fff;
        }

    .q-detail .desc-txt {
        display: block;
        margin-bottom: .26667rem;
    }

    .q-detail .stat {
        margin-bottom: .26667rem;
        line-height: .66667rem;
    }

    .q-detail .btn {
        float: right;
        padding: 0 .26667rem;
        border: 1px solid #999;
        font-size: .37333rem;
        border-radius: .05333rem;
        line-height: .61333rem;
    }

        .q-detail .btn:active {
            background-color: #f8f8f8;
        }

    .q-detail .meta {
        line-height: .42667rem;
        font-size: .32rem;
        margin-top:10px;
    }

    .q-detail .location {
        /*display: inline-block;*/
        color: #13dab6;
        font-size: .42667rem;
        font-weight: 600;
    }

        .q-detail .location:before {
            content: '';
            float: left;
            margin-right: .16rem;
            width: .37333rem;
            height: .42667rem;
            background: url(../images/sprite-icon01.png) -4.56rem -4.4rem no-repeat;
            background-size: 5.46667rem auto;
        }

    .q-detail .user {
        float: right;
    }

        .q-detail .user img {
            margin-right: .13333rem;
            width: .42667rem;
            height: .42667rem;
            background-color: #f8f8f8;
            border-radius: 50%;
        }

    .q-detail .time {
        margin-left: .13333rem;
    }

.label-guide {
    display: inline-block;
    float: left;
    border: 1px solid;
    color: #13dab6;
    padding: .05333rem .08rem;
    font-size: .26667rem;
    border-radius: .05333rem;
    line-height: 1;
    margin-top: .10667rem;
}

.sortbar {
    margin: .4rem .53333rem -0.24rem;
    text-align: right;
    position: relative;
}

    .sortbar .sort-trigger {
        display: inline-block;
        font-size: .37333rem;
        line-height: 1;
    }

        .sortbar .sort-trigger:after {
            content: '';
            display: inline-block;
            width: .42667rem;
            height: .42667rem;
            margin-left: .13333rem;
            background: url(../images/sprite-icon01.png) -3.41333rem -4.4rem no-repeat;
            background-size: 5.46667rem auto;
            vertical-align: -0.08rem;
        }

    .sortbar .sort-dropdown {
        position: absolute;
        width: 3.33333rem;
        line-height: 1.2rem;
        font-size: .4rem;
        right: -0.26667rem;
        top: .8rem;
        background-color: #fff;
        z-index: 10;
        box-shadow: 0 .05333rem .32rem 0 rgba(0,0,0,0.1);
        border-radius: .10667rem;
        text-align: left;
    }

        .sortbar .sort-dropdown a {
            display: block;
            padding-left: .53333rem;
            position: relative;
        }

            .sortbar .sort-dropdown a:active {
                background-color: #f8f8f8;
            }

            .sortbar .sort-dropdown a.on {
                font-weight: 600;
            }

                .sortbar .sort-dropdown a.on:after {
                    content: '';
                    display: inline-block;
                    margin-left: .13333rem;
                    width: .56rem;
                    height: .56rem;
                    background: url(/mobile/images/ask/new2017/sprite-icon01.png) -2.4rem 0rem no-repeat;
                    background-size: 5.46667rem auto;
                    vertical-align: -0.16rem;
                }

.a-detail {
    padding: .4rem;
}

    .a-detail.a-goldmedal {
        position: relative;
    }

        .a-detail.a-goldmedal:after {
            content: '';
            position: absolute;
            width: 2.34667rem;
            height: 2.34667rem;
            background: url(/mobile/images/ask/new2017/sprite-icon01.png) 0rem 0rem no-repeat;
            background-size: 5.46667rem auto;
            top: .53333rem;
            right: .26667rem;
        }

    .a-detail .hd {
        margin: 0 0 .26667rem .69333rem;
        height: .64rem;
        line-height: .64rem;
    }

    .a-detail .da {
        display: inline-block;
        margin-left: -0.53333rem;
        float: left;
        width: 1.06667rem;
        background-color: #ffdb26;
        border-top-right-radius: .32rem;
        border-bottom-right-radius: .32rem;
        position: sticky;
        left: 0;
        top: 10px;
        z-index: 10;
    }

        .a-detail .da:before {
            content: '';
            display: inline-block;
            margin: .16rem 0 0 .08rem;
            width: .32rem;
            height: .32rem;
            background: url(../images/sprite-icon01.png) -5.09333rem -3.28rem no-repeat;
            background-size: 5.46667rem auto;
            vertical-align: top;
        }

        .a-detail .da img {
            float: right;
            margin: .02667rem;
            width: .58667rem;
            height: .58667rem;
            background-color: #f8f8f8;
            border-radius: 50%;
            overflow: hidden;
            vertical-align: top;
        }

    .a-detail .name {
        float: left;  
        margin-right: .08rem;
        font-weight: 600;
    }

    .a-detail .user-lv {
        float: left;
        margin-top: .13333rem;
        margin-right: .13333rem;
    }

    .a-detail .time {
        float: right;
        font-size: .32rem;
        color: #767676;
    }

    .a-detail .bd {
        min-height: 2.66667rem;
        /*margin-bottom: .53333rem;*/
        /*font-size: .48rem;*/
        
        color: #555;
    }

        .a-detail .bd p {
            margin: .4rem 0;
        }

            .a-detail .bd p:first-child {
                margin-top: 0;
            }

        .a-detail .bd a {
            color: #30a2f3;
        }

    .a-detail .expandable {
        position: relative;
        overflow: hidden;
    }

    .a-detail .expand-more {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 5;
        height: 3.73333rem;
        background-image: linear-gradient(to bottom,rgba(255,255,255,0),#fff);
        text-align: center;
        color: #30a2f3;
        line-height: 1;
        font-size: .42667rem;
    }

        .a-detail .expand-more p {
            position: absolute;
            left: 0;
            bottom: .26667rem;
            right: 0;
            margin: 0;
        }

            .a-detail .expand-more p:after {
                content: '';
                display: inline-block;
                margin-left: .13333rem;
                width: .34667rem;
                height: .32rem;
                background: url(/mobile/images/ask/new2017/sprite-icon01.png) -5.22667rem -1.22667rem no-repeat;
                background-size: 5.46667rem auto;
                vertical-align: 0;
            }

    .a-detail .ft {
        text-align: left;
        font-size: 0;
        line-height: .56rem;
        margin-bottom:5px;
    }

        .a-detail .ft.arrow {
            padding-right: .53333rem;
            position: relative;
        }

            .a-detail .ft.arrow:after {
                content: '';
                position: absolute;
                width: .26667rem;
                height: .42667rem;
                background: url(/mobile/images/ask/new2017/sprite-icon01.png) -5.09333rem 0rem no-repeat;
                background-size: 5.46667rem auto;
                right: 0;
                top: .06667rem;
            }

        .a-detail .ft a {
            display: inline-block;
            font-size: .4rem;
            vertical-align: top;
        }

            .a-detail .ft a + a {
                margin-left: .53333rem;
            }

            .a-detail .ft a:before {
                content: '';
                float: left;
                margin-right: .13333rem;
                display: inline-block;
                width: .56rem;
                height: .56rem;
                background: url(../images/sprite-icon01.png) 0rem -4.4rem no-repeat;
                background-size: 5.46667rem auto;
            }

            .a-detail .ft a.btn-ding.on:before {
                background-position: -4.4rem -3.28rem;
            }

            .a-detail .ft a.btn-comment:before {
                background-position: -2.74667rem -4.4rem;
            }

            .a-detail .ft a.btn-collect:before {
                background-position: -4.4rem -1.2rem;
            }

            .a-detail .ft a.btn-collect.on:before {
                background-position: -0.69333rem -4.4rem;
            }

.space {
    height: .26667rem;
    background-color: #f8f8f8;
}

header {
    font-size: .53333rem;
    line-height: 1;
    padding: .53333rem .53333rem 0;
}

.item {
    display: block;
    padding: 0;
    line-height: 1;
    position: relative;
}

    .item:active {
        background-color: #f8f8f8;
    }

    .item .wen {
        position: absolute;
        left: .53333rem;
        top: .53333rem;
        width: .48rem;
        height: .48rem;
        background: url(/mobile/images/ask/new2017/sprite-icon01.png) -4.4rem 0rem no-repeat;
        background-size: 5.46667rem auto;
    }

    .item:after {
        content: '';
        position: absolute;
        width: .24rem;
        height: .42667rem;
        background: url(/mobile/images/ask/new2017/sprite-icon01.png) -4.08rem -4.4rem no-repeat;
        background-size: 5.46667rem auto;
        right: .53333rem;
        top: 50%;
        margin-top: -0.21333rem;
    }

    .item h3 {
        height: .42667rem;
        margin-bottom: .21333rem;
        font-size: .42667rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .item p {
        font-size: .32rem;
    }

.fixed-bot {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    height: 1.33333rem;
    z-index: 50;
    box-shadow: 0 0 .32rem 0 rgba(0,0,0,0.1);
    display: flex;
}

    .fixed-bot .item {
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .4rem;
        position: relative;
    }

        .fixed-bot .item:active {
            background-color: #f8f8f8;
        }

        .fixed-bot .item + .item:before {
            content: '';
            position: absolute;
            width: 1px;
            height: .8rem;
            background-color: #e5e5e5;
            left: 0;
            top: .26667rem;
            transform: scaleX(0.5);
        }

    .fixed-bot i {
        display: inline-block;
        margin-right: .13333rem;
        width: .56rem;
        height: .56rem;
        background: url(../images/sprite-icon01.png) -4.4rem -2.6rem no-repeat;
        background-size: 5.46667rem auto;
    }

        .fixed-bot i.icon-addanswer {
            background-position: -1.37333rem -4.4rem;
        }

.rel-question {
    padding: .53333rem 0 .53333rem .53333rem;
    background: #FFF;
}

    .rel-question h2 {
        font-size: .53333rem;
        font-weight: normal;
        line-height: 1;
    }

    .rel-question .ques-box {
        padding-left: .26667rem;
    }

        .rel-question .ques-box a {
            display: block;
        }

        .rel-question .ques-box li {
            border-bottom: 1px solid rgba(0,0,0,0.1);
            padding: 10px 0px;
            position: relative;
        }

            .rel-question .ques-box li:before {
                content: "";
                position: absolute;
                left: -0.8rem;
                top: .23333rem;
                width: .56rem;
                height: .56rem;
                background: url(../images/sprite-icon01.png) -4.4rem -1.89333rem no-repeat;
                background-size: 5.46667rem auto;
            }

            .rel-question .ques-box li:after {
                content: "";
                position: absolute;
                right: .53333rem;
                top: 50%;
                margin-top: -0.18667rem;
                width: .37333rem;
                height: .37333rem;
                background: url(../images/sprite-icon01.png) -5.09333rem -1.89333rem no-repeat;
                background-size: 5.46667rem auto;
                right:15px;
            }

            .rel-question .ques-box li .img {
                width: 2.13333rem;
                height: 1.49333rem;
                background: #d8d8d8;
                overflow: hidden;
                float: left;
                margin-right: .26667rem;
            }

            .rel-question .ques-box li .info h3 {
                margin-bottom: .13333rem;
                font-size: .42667rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                line-height: .50667rem;
                padding-right: .53333rem;
            }

            .rel-question .ques-box li .info p {
                font-size: .32rem;
            }

                .rel-question .ques-box li .info p span {
                    font-weight: 600;
                }

.ques-box li:before {
    background: url(/mobile/images/ask/new2017/sprite-icon01_v2.png) -3.69333rem -1.89333rem no-repeat;
    background-size: 5.46667rem auto;
}

.rel-question .ques-box li .info h3 {
    line-height: .54667rem;
    padding-right: .83333rem;
}

.rel-question .ques-box li:after {
    margin-top: -0.28667rem;
}

.info p {
    color: #49d2ba;
    margin-right: .16rem;
}

.rel-question .ques-box li .info p {
    line-height: normal;
}

.container.no-padding {
    padding-bottom: 0;
}
.default-pos {
    position: static;
}

    .default-pos a.width {
        width: 100%;
    }

    .back_ground[data-v-f206322a] {
    /*background: url(../images/4.jpg) no-repeat 0 0;*/
    height: 6.59rem;
    width: 100%;
    position: relative;
    background-size: 100% auto;
}
    .select[data-v-f206322a] {
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.1);
    border-radius: 8px;
    width: 95%;
    position: absolute;
    bottom: 0;
    left: .25rem;
}
    .select ul[data-v-f206322a] {
    overflow: hidden;
}
    .select ul li[data-v-f206322a] {
    width: 25%;
    font-size: 17px;
    text-align: center;
    float: left;
    padding-top: 0.44rem;
    padding-bottom: 0.42rem;
}
    .select ul li img[data-v-f206322a] {
    width: 0.95rem;
    height: 0.95rem;
}
    .select ul li.first p[data-v-f206322a] {
    color: #000;
}
    .select ul li p[data-v-f206322a] {
    color: #4a90e2;
}

    /*快速回复*/
    #reply_comment {
        width: 100%;
    height: 42px;
    line-height: 42px;
    background: #fff;
    border-top: 1px #f1f1f1 solid;
    z-index: 9999;
    left: 0px;
    bottom: 0px;
    padding-top: 10px;
}
    #reply_comment .ksk {
    width: 100%;
    height: 32px;
    line-height: 32px;
    border: 1px #49d2ba solid;
    border-radius: 4px;
    padding: 0px 10px;
    float: left;
    box-sizing: border-box;
}
    #reply_comment .tijiao {
    width: 100%;
    height: 32px;
    background: #49d2ba;
    float: left;
    border: 0px;
    border-radius: 4px;
    color: #fff;
}
.div-reply1 {
float: left;
    
    width: 75%;
    height: 32px;
    padding-left: 10px;
    box-sizing: border-box;
    padding-right: 5px;
}
.div-reply2 {
    float: left;
    width: 25%;
    height: 32px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 10px;
}
/*快速回复*/