html {margin: 0;padding: 0;background:#f4f4f4;}
body {margin:0;padding:0;color: #474747;max-width:800px;margin: 0 auto;background:#fff;}
button {border: none;outline: none;}

.ui {margin:0;padding:0;border:none;outline:none;list-style:none;}
.ui-loading {position:relative;}
.ui-bg-white {background:#fff;}
.ui-bg-none {background:none;}
.ui-cc:before,.ui-cc:after {content:''; display:block; clear:both;}
.ui-ll {float:left;}
.ui-rr {float:right;}
.ui-border {border:1px solid #ddd;}
.ui-border-t {border-top:1px solid #ddd;}
.ui-border-r {border-right:1px solid #ddd;}
.ui-border-b { border-bottom:1px solid #ddd;}
.ui-border-l { border-left:1px solid #ddd;}

.ui-input {padding:5px 10px;font-size:14px;border:1px solid #ddd;outline:none;background:transparent;color:#666;border-radius:3px;}
.ui-input:focus {border-color:#03A9F4;}

.ui-btn {padding:0.35em 1.2em;text-decoration:none;border-radius:0.25em;border:1px solid #ddd;display:inline-block;vertical-align:middle;cursor:pointer;transition:all 0.2s; text-align:center;}
.ui-btn:hover { background:#e6e6e6; border-color:#d8d8d8;}
.ui-btn-large {padding:0.5em 1.8em;border-radius:0.3em;}
.ui-btn-small {padding:0.2em 0.5em;border-radius:0.2em;}
.ui-btn-full {display:block;}
.ui-btn-success {background:#5cb85c;border-color:#4cae4c;color:#fff !important;opacity:0.8;}
.ui-btn-info {background:#5bc0de;border-color:#46b8da;color:#fff !important;opacity:0.8;}
.ui-btn-warning {background:#f0ad4e;border-color:#eea236;color:#fff !important;opacity:0.8;}
.ui-btn-danger {background:#d9534f;border-color:#d43f3a;color:#fff !important;opacity:0.8;}
.ui-btn-success:hover,.ui-btn-info:hover,.ui-btn-warning:hover,.ui-btn-danger:hover {opacity:1;}
.ui-btn-success:hover {background:#5cb85c;border-color:#4cae4c;}
.ui-btn-info:hover {background:#5bc0de;border-color:#46b8da;}
.ui-btn-warning:hover {background:#f0ad4e;border-color:#eea236;}
.ui-btn-danger:hover {background:#d9534f;border-color:#d43f3a;}
.ui-btn-o {background:transparent !important;}
.ui-btn-success.ui-btn-o {color:#5cb85c !important;}
.ui-btn-info.ui-btn-o {color:#5bc0de !important;}
.ui-btn-warning.ui-btn-o {color:#f0ad4e !important;}
.ui-btn-danger.ui-btn-o {color:#d9534f !important;}

.ui-search-input input {outline:none;margin:0;background:transparent;color:#666;padding:5px 10px;font-size:14px;border:1px solid #ddd;border-radius:3px;}
.ui-search-input input:focus {border-color:#03A9F4;}
.ui-search-input:after {content:"\e62e";padding:0 5px;position:absolute;right:0;height:10px;line-height:10px;top:50%;margin-top:-5px;color:currentColor;}

.auto_like_btn {background:transparent;border:none;outline:none;border-radius:5px;color:#666;padding:0;cursor:pointer;}

@media (max-width:600px){
	.ui-mobile-hid {display: none;}
	.ui-popwarp .ui-popbox .ui-wechat-qr-box .ui-pop-qrcode {display: none;}
}
@media (min-width:601px){
	.ui-popwarp .ui-popbox .ui-wechat-qr-box .ui-pop-avatar {display: none;}
	.ui-pc-hid {display: none;}
}

.ui-badge,.ui-badge-security {border:1px solid currentColor;border-left:none;display:inline-block;font-size:1em;padding:0 0.5em 0 1em;position:relative;margin-left:0.8em;line-height:normal;}
.ui-badge-security:before {content:"\e654";font-size:2.2em;left:-0.6em;top:-0.255em;}

.header .icon {font-size:24px;font-style: normal;color: #fff;width: 25px;height: 25px;display: inline-block;text-align: center;line-height: 25px;position: absolute;left:10px;top:10px;z-index: 9;}
.header .hd {position: absolute;width: 100%;height: 100%;background: linear-gradient(to bottom,rgba(0,0,0,0.6), transparent, transparent,transparent, rgba(0,0,0,0.8));}
.hd .info_box {position: absolute;bottom:40px;padding: 10px;width: calc(100% - 20px);color: #fff;}
.hd .info_box>img {height: 40px;width:40px;border-radius: 20px;}
.hd .info_box>span {color: #fff;height: 40px;padding-left: 5px;line-height: 20px;}
.hd .info_box>span>b {display: block;font-weight: 400;font-size: 17px;}
.hd .info_box>span>p {margin: 0;font-size: 13px;font-weight: 100;}
.hd .info_box>button {background: #ffdc31;font-size: 14px;height: 26px;line-height: 26px;padding: 0 10px;color: #444;text-decoration: none;margin:7px 0;border-radius: 13px;border: none;outline: none;}

.title {background: #fff;margin-top: -20px;z-index: 9999;position: relative;padding: 15px;border-top-left-radius: 30px;border-bottom: 1px solid #eee;box-shadow: 0 2px 10px rgba(0,0,0,0.1);}
.title>h3 {margin: 0;line-height: 26px;color: #444;font-size:20px;font-weight: 600;margin-bottom: 10px;}
.title .note {font-size: 13px;color: #888;line-height: 22px;font-weight: 100;position: relative;border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;}
.title .note>p {margin: 0;height: 22px;}
.title .note>p>b {font-weight: normal;color: #666;font-size: 15px;}
.title .views {font-size:0.9em;}
.title .views span>img {height: 22px;float: left;border-radius: 11px;margin-left: -5px;}

.contents>img {max-width: 100%;display: block;margin:10px auto;}
.contents .tags {line-height: 24px;padding-top: 10px;margin-top: 10px;border-top: 1px dashed #ddd;margin-bottom: -10px;}
.contents .tags>a {font-size: 13px;background: #f8f8f8;text-decoration: none;display: inline-block;color: #444;padding: 0 10px;margin-right: 5px;margin-bottom: 5px;}

.coments {border-top: 2px solid #eee;padding: 15px;padding-top: 25px;margin-top: 15px;}
.coments>h4 {margin: 0;font-weight: 400;height: 30px;line-height: 30px;color:#222;font-size: 20px;}
.coments>li {list-style: none;padding: 20px 0;border-bottom: 1px solid #eee;}
.coments>li:last-child {border-bottom:none;}
.coments>li>.hd {height: 40px;margin-bottom: 10px;}
.coments>li>.hd .avatar {width: 40px;height: 40px;border-radius: 20px;overflow: hidden;}
.coments>li>.hd .avatar>img {height:40px;}
.coments>li>.hd .name {height: 40px;margin-left: 10px;}
.coments>li>.hd .name>b {display: block;font-weight: normal;height: 20px;line-height: 20px;}
.coments>li>.hd .name>b>i {display: inline-block;height: 16px;line-height: 16px;font-size: 12px;font-style: normal;background: #ffd500;color: #444;padding: 0 5px;border-radius:4px;margin:2px 0 2px 5px;}
.coments>li>.hd .name>p {height: 20px;line-height:30px;margin: 0;font-size: 13px;color: #888;}
.coments>li>.cont {font-size: 16px;line-height: 25px;}
.coments>li>.cont>img {display: block;max-width: calc(100% - 20px);margin: 10px auto;}
.coments>li .replay {background: #f4f4f4;font-size: 15px;padding: 10px;margin-top: 10px;}
.coments>li .replay .item {margin-bottom: 10px;border-bottom: 1px solid #ddd;padding-bottom: 10px;}
.coments>li .replay .item:last-child {border-bottom:none;margin-bottom:0;padding-bottom:0;}
.coments>li .replay .item>h5 {margin: 0;font-size: 15px;font-weight: normal;color: #444;height: 26px;line-height: 20px;}
.coments>li .replay .item>p {margin: 0;font-size: 14px;color: #777;}

.copyright {text-align: center;font-size: 12px;color: #999;}

.footer {height:40px;padding:10px 15px;border-top: 1px solid #eee;}
.footer>button {width: 20%;float: left;height:40px;}
.footer>button>i {color: #ffd500;font-weight: bold;font-style: normal;}
.footer>button.btn {width:40%;border: none;outline: none;background: #ffd500;color: #444;border-radius: 3px;}
.footer>button.btn>i {color: #444;margin-right: 5px;}

.auto_copy {color: #f00;}
p {
	margin:0px;
	padding: 10px;
	font-size: 100%;
}
p > .pictures {
	width: 100%;
	padding: 0px;
}
.p_guanyu {
	margin: 0px;border-left: 3px solid #ffd500;padding-left: 10px;
}
.p_jingdian {
	font-size: 90%;
}
.span_small_gray {
	font-size: 80%;
	color: gray;
}

.fa-lg {
	font-size: 1em;
	margin-right: 10px;
}