<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>暑假打算去北京旅游，想知道北京有哪些景点</title>

<link rel="shortcut icon" href="http://t.hnldcm.com/static/icon/ld.png">

<link rel="stylesheet" type="text/css" href="static/css/new.css">

<style>
	.nicknam1e{
	color: red !important;
	}
	.accoun1t2{
	color: red !important; 
	}
	img{max-width:100%;}
	#newBridge { display: none !important; }
	.kefuTel {padding: 0 3px;}
	em { font-style: normal!important; }
	.xgs{float:left;}
	.pinglun p img{max-width:100%;}
	.plhd p img{max-width:100%;}
	.touxiang11 {margin-top: 15px;}
	.scvtopbanner{background: url(static/images/dj_scv.jpg);background-size:cover;background-repeat: no-repeat;background-position: 0 50px;}
	.scvtopbanner{background-size:cover;background-repeat: no-repeat;background-position: 0 50px;}
	.accoun1t2{ border: 0; color: red;}.autocopy2ppbtn{border:0}
	@media screen and (min-width: 0px) and (max-width: 768px) {.question-l-b {font-size: 12px;}}
</style>
<!-- <link type="text/css" rel="stylesheet" href="static/css/wcpop.css"> -->

</head>

<body>

<div class="nav lazyimg scvtopbanner" style="display: block;">
<div class="sekuai">
	<div class="navli"> <img src="" class="hidem">
		<div class="leimu">
			<a href="javascript:;">首页</a> 
			<a href="javascript:;">问答</a> 
			<a href="javascript:;">目的地</a> 
			<a href="javascript:;">旅游管家</a> 
		</div>
		<div class="sousuo hidem">
			<input type="" name="" id="" value="" placeholder="搜索">
			<img src="static/picture/search-icon.png"> 
		</div>
		<div class="liantu hidem">
			<div class="qq"></div>
			<div class="wb"></div>
		</div>
	</div>
</div>
</div>

<div class="question">
<div class="question-l">
	<div style="display: inline-flex; align-items: center;"> 

	</div>
	<h1>
		<p>暑假打算去北京旅游，想知道北京有哪些景点好玩，住哪里方便？路线怎么安排？门票是不是很难买到？费用多少？求去北京旅游攻略！</p>
	</h1>
	<div class="lljj" style="margin-top: 8px;">
		<p></p>
	</div>

	<div class="wanzheng hidem" style="display: none;">
		<div class="llj" style="cursor: pointer;"> 完整描述
			<div class="zhijiao"></div>
		</div>
	</div>
	<div class="question-l-b" style="margin-top: 10px;">
		<div>
			<img src="static/picture/time-icon.png"> <span>5天</span>
		</div>
		<div>
			<img src="static/picture/watch-icon.png"> <span>30097</span>
		</div>
		<div>
			<img src="static/picture/1-1z1241136117.jpg" style="width:16px;height:16px;" class="lazyload"> 
			<span>顾宸</span> <span>5天前</span>
		</div>
	</div>
</div>
<div class="question-2 hidem">
	<div>
		<div> <img src="static/picture/collection-icon.png">
			<p>收藏(1677)</p>
		</div>
		<div> <img src="static/picture/share-icon.png">
			<p>转发(1243)</p>
		</div>
		<div class="likebtn"><img src="static/picture/like-icon.png">
			<p>点赞(<span class="like-01-num">6125</span>)</p>
		</div>
	</div>
	<div style="padding-top: 24px; justify-content: flex-end;"> 
		<a class="button1" href="javascript:;">关注</a> 
		<a class="button2" href="javascript:;">回答</a> 
	</div>
</div>
</div>

<div class="huida">
<div class="huida1"></div>
<span>9个回答</span> 
</div>

<div class="main">
<div class="main-left">
	<div>
		<div class="touxiang1">
			<div style="margin-right:20px;position: relative;"> 
				<img src="static/picture/cd3594d4f2644d33a8b6f6fc5614ce85.jpg"> 
			</div>
				<div class="touxiang11">
					<div style="display: flex;align-items: flex-end;">
						<h3>萌萌</h3>
						<h4></h4>
					</div>
					<img src="static/picture/lydr-icon.png"> 
				</div>
		</div>
		<div class="pinglun"><p></p><p>暑假是北京旅游的旺季，去的人很多，吃~住~行需要提前安排，建议去北京前最好先找个人安排一下，搞定好住宿、门票、路线这些，以免浪费不必要的时间。</p><p>我前两天刚从北京回来，在北京玩了四天，一路吃吃喝喝逛逛地超开心~行程是之前去北京玩过的朋友，给我推荐的一个当地有名的导游<font class="kefu_nickname"></font>，按照我们想去的景点给我们安排的~找<span class="se1x">她</span>提前搞定了在北京的吃、住、行、门票这些，自己做攻略确实太麻烦了。当时我们到了北京，<span class="se1x">她</span>还亲自去机场接我们，超棒！</p><p><font class="kefu_nickname"></font>真心是我见过最棒的导游啦~回答问题非常专业，做事也很细心。建议去之前可以咨询<span class="se1x">她</span>一下~<span class="se1x">她</span>的微信是:<span style="color: red;"><font class="kefu_wx"></font></span></p>
			<p><img src="static/picture/565e2fc6d91b49a89034ba7798dcd917.jpg" data-original="static/picture/565e2fc6d91b49a89034ba7798dcd917.jpg"></p>
			<p><img src="static/picture/a63b73a76360405bba93508731e8a036.jpg" data-original="static/picture/a63b73a76360405bba93508731e8a036.jpg"><img src="static/picture/5301f1850b7a43f8abef825660184650.jpg" data-original="static/picture/5301f1850b7a43f8abef825660184650.jpg"></p>
		</div>
		
		
		<div class="pltc">
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/c2ee23036fa843ca98f5147321a6bc29.jpg"> </div>
				<span class="hh3">贺琳子</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p>刚好我也想去玩5天，能把你去北京的行程说一下吗？然后还有大概费用是多少？</p><p></p>
			</div>
			
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/776226dbe03c4833a26b8e6f88a185eb.jpg"> </div>
				<span class="hh3">萌萌</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p>好东西大家一起分享，我走的行程如下：<br>
				第1天：出发→北京首都（全天24小时接站）→带我们入住酒店&nbsp;&nbsp;</p><p><br>
				第2天：天安门广场→毛主席纪念堂→故宫→恭王府→天坛公园，经典、古城的景点都玩到了，中午会去吃全聚德烤鸭&nbsp;&nbsp;&nbsp;</p><p><br>
				第3天：早早地起床，观看升国旗仪式→八达岭古长城→奥林匹克公园→鸟巢→水立方，把北京著名建筑玩了一遍&nbsp;&nbsp;</p><p><br>
				第4天：颐和园→清华大学→什刹海→前门大街→大栅栏，行程中安排得最舒服的地方，很自由轻松，晚上<font class="kefu_nickname"></font>会为我们安排的宫廷风味大餐;&nbsp;&nbsp;</p><p><br>
				第5天：自由活动，不会统一安排行程，逛吃逛吃就愉快地结束了回忆满满的旅行</p><p><br></p><p>5天下来费用才一千多，个人觉得这个5天行程确实不错，全程游玩很轻松，也没有任何强制性消费，全程玩的非常开心，<font class="kefu_nickname"></font>不但做事认真负责，而且总是很有耐心的解答我提出的各种问题，只要你去北京旅游，不论玩几天，<span class="se1x">她</span>都可以根据你的时间和兴趣景点安排一份适合你游玩的行程路线，去北京旅游找<span class="se1x">她</span>绝不会错！</p><p></p>
			</div>
			
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/f36407913c794ea8bd4e41f5ce3daf91.jpg"> </div>
				<span class="hh3">贺琳子</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p>有<font class="kefu_nickname"></font>的联系方式吗？我想咨询一下~</p><p></p>
			</div>
			
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/12b7957ed32c4e27a96705aee6d08805.jpg"> </div>
				<span class="hh3">萌萌</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p><font class="kefu_nickname"></font>的微信:<span style="color: red;"><font class="kefu_wx"></font></span>
<span class="dianji2">
<span class="accoun1t2"></span>
</span>
</span></strong></p><p></p>
			</div>
			
		</div>
		
		<div class="pltb">
			<img src="static/picture/like-icon-line.png">
			<p></p>
			<img src="static/picture/pinglun-icon.png">
			<p>4</p>
		</div>
	</div>
	<div>
		<div class="touxiang1">
			<div style="margin-right:20px;position: relative;"> 
				<img src="static/picture/e9c35b8df8dd422c87d0024e41cfabbd.jpg"> 
			</div>
				<div class="touxiang11">
					<div style="display: flex;align-items: flex-end;">
						<h3>浅浅一抹笑</h3>
						<h4></h4>
					</div>
					<img src="static/picture/lydr-icon.png"> 
				</div>
		</div>
		<div class="pinglun"><p></p><p>北京<span style="background-color: rgb(255, 255, 255);">我去过两次了，第二次去正如楼上推荐的一样，找的当地口碑很好的<font class="kefu_nickname"></font>，交给<span class="se1x">她</span>你就不需要操心，开开心心的玩就行了，<font class="kefu_nickname"></font>的贴心服务、热情接待、细心安排，我都特别满意！第一次去玩的是故宫--长城--天安门，当时时间不够，天坛没来的及去，9月趁着调休，又去了第二次，玩了天坛、颐和园、圆明园、古北水镇等，北京现在的景色美不胜收。</span></p><p><img src="static/picture/058e00c6872646578d12eda0c69912db.jpg"><img src="static/picture/d8b5d140cdf34c92a85a2451667db2cb.jpg"></p><p><br></p><p></p></div>
		
		
		<div class="pltc">
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/604137acb40f40e5bad65eb9085d0f83.jpg"> </div>
				<span class="hh3">风铃</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p>楼主请问一下，你说的北京<font class="kefu_nickname"></font><span class="se1x">她</span>们住宿安排的好吗？还有北京哪些景点最好玩啊？</p><p></p>
			</div>
			
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/7ddc16c313094298b87bfbeec01d3987.jpg"> </div>
				<span class="hh3">浅浅一抹笑</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p><font class="kefu_nickname"></font>安排的住宿、餐饮都非常不错。北京好玩的景点有很多：像故宫、长城、天安门、鸟巢、水立方、天坛、颐和园等。<span class="se1x">她</span>们主要就是做品质自由行，全程很注重品质，不管是住宿，还有门票，行程，交通都安排的特别到位，<font class="kefu_nickname"></font>很和善很关心人，也是一个很细心幽默的人，驾车技术熟练，让我感觉到整个行程玩下来很轻松很享受。<span class="se1x">她</span>的微信：<span style="color: red;"><font class="kefu_wx"></font></span></span>
</span>
</span></strong><img src="static/picture/d918451569bd49f6a6ceeccb2366a59b.jpg"></p><p></p>
			</div>
			
		</div>
		
		<div class="pltb">
			<img src="static/picture/like-icon-line.png">
			<p></p>
			<img src="static/picture/pinglun-icon.png">
			<p>2</p>
		</div>
	</div>
	<div>
		<div class="touxiang1">
			<div style="margin-right:20px;position: relative;"> 
				<img src="static/picture/09801dab92a54b878ab18d97bc182979.jpg"> 
			</div>
				<div class="touxiang11">
					<div style="display: flex;align-items: flex-end;">
						<h3>黄佳敏</h3>
						<h4></h4>
					</div>
					<img src="static/picture/lydr-icon.png"> 
				</div>
		</div>
		<div class="pinglun"><p></p><p><span style="color: rgb(68, 68, 68);">找当地导游自由行的好处就是可以随走随停，看天气，看心情。热的时候可以回酒店休息，想吃东西的时候随时直奔美食街。“&nbsp;北京这座城，吹过的风都是文化，踩的地全是历史”，所以，有时候带着耳机，听着自己喜欢的歌，在长城上走一走，也是对自己的一种“犒赏”，当然你得有个人带你玩，你才会这么惬意！毕竟规划旅游路线这种专业的事，还是交给专业的人做好！</span></p><p><img src="static/picture/a0ca1205760e44678d442415b1ff8232.jpg" data-original="static/picture/a0ca1205760e44678d442415b1ff8232.jpg"></p><p></p></div>
		
		
		<div class="pltc">
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/3a9a8e7c336a4067b4658baa0f14bf03.jpg"> </div>
				<span class="hh3">周慧儿</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p>北京真是一个活化石！每个地方景点都是经典，故宫，长城，天安门，香山，都特别特别喜欢。每个地方都要去体验一番，不然太遗憾！</p><p></p>
			</div>
			
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/5f9ce5041acb4243bac9bdcc2e05e968.jpg"> </div>
				<span class="hh3">Batter KO</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p>楼主是联系的<font class="kefu_nickname"></font>的吗，我有5天假期，不知道够不够北京全部玩到？</p><p></p>
			</div>
			
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/b81e4753551f47b99b8270bbab396286.jpg"> </div>
				<span class="hh3">木子李</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p>同问，我是3天的时间，<font class="kefu_nickname"></font>可以帮我设计线路吗？</p><p></p>
			</div>
			
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/0e3c462553ce49a8a4f033139f307238.jpg"> </div>
				<span class="hh3">黄佳敏</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p>具体你们可以加<font class="kefu_nickname"></font>微信自己咨询一下吧，<span class="se1x">她</span>都可以免费给你们设计路线的，人非常好，而且回复各种问题非常有耐心也非常细心（吐血推荐）。<font class="kefu_nickname"></font>的微信：<span style="color: red;"><font class="kefu_wx"></font></span></span>

</span></strong></p><p></p>
			</div>
			
		</div>
		
		<div class="pltb">
			<img src="static/picture/like-icon-line.png">
			<p></p>
			<img src="static/picture/pinglun-icon.png">
			<p>4</p>
		</div>
	</div>
	<div>
		<div class="touxiang1">
			<div style="margin-right:20px;position: relative;"> 
				<img src="static/picture/178faeec3a0e458fb2009c7c4522f9d6.jpg"> 
			</div>
				<div class="touxiang11">
					<div style="display: flex;align-items: flex-end;">
						<h3>sevenelven</h3>
						<h4></h4>
					</div>
					<img src="static/picture/lydr-icon.png"> 
				</div>
		</div>
		<div class="pinglun"><p></p><p>我和男票去北京玩了四天，当时是因为做攻略做的实在太混乱了，通过广大朋友圈寻求帮助最后朋友介绍了<span class="se1x">她</span>之前去北京时找的当地向导<font class="kefu_nickname"></font>，当时安排的非常好！因为朋友去过，信誉这方面不用担心啦~然后就直接联系，<font class="kefu_nickname"></font>是根据我们的游玩天数和人数来专门定制的行程，四天下来玩的非常非常开心，在景区拍了很多美美的照片，一点不赶时间，而且自由度很高。</p><p><br></p><p><img src="static/picture/2eea001a12734df6b5cf437af273855f.jpg" data-original="static/picture/2eea001a12734df6b5cf437af273855f.jpg"></p><p></p></div>
		
		
		<div class="pltc">
		</div>
		
		<div class="pltb">
			<img src="static/picture/like-icon-line.png">
			<p></p>
			<img src="static/picture/pinglun-icon.png">
			<p>0</p>
		</div>
	</div>
	<div>
		<div class="touxiang1">
			<div style="margin-right:20px;position: relative;"> 
				<img src="static/picture/eee87f360ac94580942e0bd2f3ea57c4.jpg"> 
			</div>
				<div class="touxiang11">
					<div style="display: flex;align-items: flex-end;">
						<h3>余小白</h3>
						<h4></h4>
					</div>
					<img src="static/picture/lydr-icon.png"> 
				</div>
		</div>
		<div class="pinglun"><p></p><p>之前我在北京游玩了五天，选的是<font class="kefu_nickname"></font>的网红套餐，哈哈，精华的地方都玩到了，随手一拍就是风景大片，美不胜收！但是呢，最大的感受就是北京的景点过于分散，自己玩容易走回头路，非常浪费时间，我个人觉得现在国内的成熟的旅游景点比如北京这样的，最好还是结伴玩，可以请一个导游，毕竟出来玩，重要的是轻松和开心嘛！<font class="kefu_nickname"></font>的微信：<span style="color: red;"><font class="kefu_wx"></font></span></span>
</span>
</span></strong></p><p><img src="static/picture/d5b2ad505ba849feb7279c7ad53f4ea9.jpg" data-original="static/picture/d5b2ad505ba849feb7279c7ad53f4ea9.jpg"></p><p><img src="static/picture/1d61078a32bf484cb5a431b3aeff3bb5.jpeg" data-original="static/picture/1d61078a32bf484cb5a431b3aeff3bb5.jpg"></p><p></p></div>
		
		
		<div class="pltc">
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/2c6c6d47f21f4529adc4cf1888bfec35.jpg"> </div>
				<span class="hh3">叶萌</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p>确实，我找的也是<font class="kefu_nickname"></font>，找对了才能玩的开心，不然就是浪费钱，现在旅游市场比较混乱，网上负面信息太多了，低价团、购物、自费、恐吓和强制的问题，比比皆是，一不留神就要掉进坑里。这次男朋友带我去北京也是选择了<font class="kefu_nickname"></font>，完全没有出现这样的问题，一路上我们玩的都很开心，楼主推荐的对！</p><p></p>
			</div>
			
		</div>
		
		<div class="pltb">
			<img src="static/picture/like-icon-line.png">
			<p></p>
			<img src="static/picture/pinglun-icon.png">
			<p>1</p>
		</div>
	</div>
	<div>
		<div class="touxiang1">
			<div style="margin-right:20px;position: relative;"> 
				<img src="static/picture/1d11a68396d24501a3b30262400f9218.jpg"> 
			</div>
				<div class="touxiang11">
					<div style="display: flex;align-items: flex-end;">
						<h3>何荣</h3>
						<h4></h4>
					</div>
					<img src="static/picture/lydr-icon.png"> 
				</div>
		</div>
		<div class="pinglun"><p></p><p>春天北京出游小贴士：</p><p>1.穿着方面</p><p>4月的 北京 ，对于我一个南方人来说是觉得有点冷的，所以出发前就收到亲爱的给信息要多带衣服，那也算是给大家一个参考~</p><p>外套，口罩，短袖，T恤等，这几天就算有太阳，但白天温度基本也在10度左右，风吹起来还是很冷的。</p><p>口罩：可以方便在外的时候带上，防风又防尘。</p><p>2.交通方面</p><p>在首度机场有到市区的地铁机场线，票价是25元/人。可以提前下载易通行这个APP，绑定支付宝就可以直接扫码坐地铁了。</p><p>提前下载好 北京 地铁线路图，去哪里要怎样去也可以提早规划，可以省不少时间的。</p><p></p></div>
		
		
		<div class="pltc">
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/b50303c168004b69a90558bebcfa6f10.jpg"> </div>
				<span class="hh3">王灿</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p>谢谢！很刚需了，棒！</p><p></p>
			</div>
			
		</div>
		
		<div class="pltb">
			<img src="static/picture/like-icon-line.png">
			<p></p>
			<img src="static/picture/pinglun-icon.png">
			<p>1</p>
		</div>
	</div>
	<div>
		<div class="touxiang1">
			<div style="margin-right:20px;position: relative;"> 
				<img src="static/picture/a10c599d1b7d4034bc84c6686d6c55ea.jpg"> 
			</div>
				<div class="touxiang11">
					<div style="display: flex;align-items: flex-end;">
						<h3>李颖</h3>
						<h4></h4>
					</div>
					<img src="static/picture/lydr-icon.png"> 
				</div>
		</div>
		<div class="pinglun"><p></p><p><span style="color: rgb(44, 62, 80);">仍记得3年前初见北京的模样：蓝天、白云、青山、绿水、历史，不设防地被剧情所渲染，以至于现在再与它邂逅时，如朋友般，可以随着旋律一起哼唱……这是一个神奇的地方，被长城守护庇佑着，这是一个美丽的地方，赏风花雪月，不争朝夕，闲来看云卷云舒，繁星点点……</span></p><p><br></p><p><img src="static/picture/b96545858b12439986915d7b86ce2fed.jpg" data-original="static/picture/b96545858b12439986915d7b86ce2fed.jpg"></p><p></p></div>
		
		
		<div class="pltc">
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/7e049c0f6f58404b8d9b8736e1980e75.jpg"> </div>
				<span class="hh3">彭雪</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p>哇塞，厉害了，羡慕一直想去，但是不知道怎么玩好，自己去人生地不熟的，好像听朋友说北京景点很分散，不规划好，坐车订酒店很麻烦的，请教下你们是怎么玩的？</p><p></p>
			</div>
			
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/c5562bd6977a4145b0fa34c46fd8ea3c.jpg"> </div>
				<span class="hh3">邓莉</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p>同问，正好我计划要带爸妈去北京玩,不想要太累的，所以不想跟团，你们是怎么玩的，去玩几天呀?</p><p></p>
			</div>
			
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/ad22b662adad4281932be5a25c318be3.jpg"> </div>
				<span class="hh3">李颖</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p>我是<font class="kefu_nickname"></font>负责带我们玩的，<font class="kefu_nickname"></font>是本地人，好玩好吃的地方都带我们走遍了，行程下来很棒，自由度很高，没有购物，隐形消费，你带家人去可以选择咨询看下好不好，反正我们玩的挺开心的，毕竟自己去人生地不熟,没人介绍完全不知道怎么玩。<span class="se1x">她</span>的微信是<span style="color: red;"><font class="kefu_wx"></font></span></span>
</span>
</span></strong></p><p></p>
			</div>
			
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/46f5e7872c7845bcb7bf4bac063ff6e0.jpg"> </div>
				<span class="hh3">小朱朱宝</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p>已经联系上确定了行程了，<font class="kefu_nickname"></font>很专业，确实对北京玩的很了解，谢谢！下周就可以出发啦！</p><p></p>
			</div>
			
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/4eee0d13c8384f338ed2dd045d4deca6.jpg"> </div>
				<span class="hh3">Nicole</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p>看到楼上已经预定了行程，我也说下我上次的游玩天数，我上次去北京是游玩了五天，精华景点是可以全部走完的而且比较轻松，也是找的北京<font class="kefu_nickname"></font>，接待的非常完美，<font class="kefu_nickname"></font>是北京口碑最好的行程规划师 ~~~</p><p></p>
			</div>
			
		</div>
		
		<div class="pltb">
			<img src="static/picture/like-icon-line.png">
			<p></p>
			<img src="static/picture/pinglun-icon.png">
			<p>5</p>
		</div>
	</div>
	<div>
		<div class="touxiang1">
			<div style="margin-right:20px;position: relative;"> 
				<img src="static/picture/436e6a711e474d31b98a85b39273368e.jpg"> 
			</div>
				<div class="touxiang11">
					<div style="display: flex;align-items: flex-end;">
						<h3>刘娇婷</h3>
						<h4></h4>
					</div>
					<img src="static/picture/lydr-icon.png"> 
				</div>
		</div>
		<div class="pinglun"><p></p><p>楼上说的是，找当地向导比你自己玩要省心不少，还省钱。去北京玩主要就是景区分散，路程远，像故宫、天安门、长城、天坛还有一些都比较分散，路程比较远，自己玩交通费都是一大笔开支，另外就是要买门票排队，各种不熟路等，我们找的<font class="kefu_nickname"></font>全程服务，导游、酒店、门票、交通，餐饮都安排的很好，费用也很划算，并且玩的很自由！去北京肯定要吃特色美食，很喜欢那里的夜景。</p><p><img src="static/picture/3f8610da2619483785aedf3f35c471a6.jpeg" data-original="static/picture/3f8610da2619483785aedf3f35c471a6.jpg"></p><p>京城酥肉锅——暖暖的汤锅，鲜甜可口的汤，肉也是刚好适中的嫩滑！推荐！</p><p><img src="static/picture/5b0bf4cc118b49e1aab90707a8fba338.jpeg" data-original="static/picture/5b0bf4cc118b49e1aab90707a8fba338.jpg"></p><p>巧拌豆苗，这个必点，很开胃，搭配着脆脆的炸丝条口感爽脆！</p><p><img src="static/picture/df2a713cc8ab410887e08e1e67eb7b74.jpeg" data-original="static/picture/df2a713cc8ab410887e08e1e67eb7b74.jpg"></p><p></p></div>
		
		
		<div class="pltc">
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/c057cf1ca63f466d9b63387c5546bacd.jpg"> </div>
				<span class="hh3">刘娇婷</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p>我去北京之前也看了很多攻略，看了很多精彩的游记，但是我去过的朋友都推荐我找<font class="kefu_nickname"></font>，因为口碑非常不错，所以毫不质疑的选择了<span class="se1x">她</span>，这是<font class="kefu_nickname"></font>微信：<span style="color: red;"><font class="kefu_wx"></font></span>
</span>
</span></strong></p><p></p>
			</div>
			
		</div>
		
		<div class="pltb">
			<img src="static/picture/like-icon-line.png">
			<p></p>
			<img src="static/picture/pinglun-icon.png">
			<p>1</p>
		</div>
	</div>
	<div>
		<div class="touxiang1">
			<div style="margin-right:20px;position: relative;"> 
				<img src="static/picture/0e23dd5f6a2746a7b94ebcdf12097680.jpg"> 
			</div>
				<div class="touxiang11">
					<div style="display: flex;align-items: flex-end;">
						<h3>一起去旅行</h3>
						<h4></h4>
					</div>
					<img src="static/picture/lydr-icon.png"> 
				</div>
		</div>
		<div class="pinglun"><p></p><p>我是同学推荐的的当地向导<font class="kefu_nickname"></font>,<span class="se1x">她</span>说服务很好，很友善，规划的行程也是根据<span class="se1x">她</span>想去的地方独家定制。所以这次我去北京<span class="se1x">她</span>让我找<font class="kefu_nickname"></font>。从出发前半个月到临出门一直在咨询<span class="se1x">她</span>，有的时候感觉自己都问的不好意思了，大到咨询线路，小到洗漱用品什么的，不过<font class="kefu_nickname"></font>一直在热情耐心的解答我的问题，这个必须点赞！感谢<font class="kefu_nickname"></font>这一路来对我们几个人的照顾，带我们吃好喝好玩好，体验到了北方人的热情好客特意穿宫廷服拍了几张美照。</p><p><img src="static/picture/e37dcb0b7b9049fc976078e75bc2c209.jpg" data-original="static/picture/e37dcb0b7b9049fc976078e75bc2c209.jpg"></p><p><br></p><p></p></div>
		
		
		<div class="pltc">
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/384cee28ab434ff0813419663e8367de.jpg"> </div>
				<span class="hh3">采野花的新</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p>我是准备带着小孩，爸爸妈妈和爷爷奶奶去北京玩一下，小孩5岁，老人都70多岁，<font class="kefu_nickname"></font>能不能接待？</p><p></p>
			</div>
			
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/68bb267bd7e94ab1911ab484a9a2d1c8.jpg"> </div>
				<span class="hh3">一起去旅行</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p>这个<font class="kefu_nickname"></font>可以接待的，毕竟行程很宽松啊，一天只去两到三个地方，<span class="se1x">她</span>也会根据你们的实际情况和要求专门为你们设计规划行程的！具体情况你可以加<font class="kefu_nickname"></font>微信：<span style="color: red;"><font class="kefu_wx"></font></span></span>
</span>
</span></strong></p><p></p>
			</div>
			
			<div class="pltc1">
				<div class="pltx"> <img src="static/picture/a115fe63edbc4dd894cddb39834da8ee.jpg"> </div>
				<span class="hh3">采野花的新</span> <span class="hh4"></span> 
			</div>
			<div class="plhd">
				<p></p><p>好的，谢谢你啦！那我去咨询一下就开始着手安排出行计划了，希望一切顺利。</p><p><br></p><p></p>
			</div>
			
		</div>
		
		<div class="pltb">
			<img src="static/picture/like-icon-line.png">
			<p></p>
			<img src="static/picture/pinglun-icon.png">
			<p>3</p>
		</div>
	</div>
	
	<div class="hidem" style="text-align: center;"> 
		<a class="chakan" href="javascript:;">查看更多评论</a> 
	</div>
	<div class="fbpl">
		<textarea id="chatarea" class="bot-chat02-area" placeholder="请输入评论"></textarea>
	</div>
	<div class="plan">
		<div class="tpbq"> 
			<img src="static/picture/bq-icon.png"> <span>表情</span> 
			<img style="margin-left: 30px;" src="static/picture/tp-icon.png"> <span>图片</span> </div>
		<div> <a class="plbt" href="javascript:;">评论</a> </div>
	</div>
</div>
<div class="main-right hidem">
	<div style="display: flex;">
		<h1>相关问题</h1>
		<a href="javascript:;">查看更多
			<div class="zhijiao2"></div>
		</a> 
	</div>
	<div style="border: 0px;">	
	</div>

	
</div>
</div>

<div class="dibu" style="text-align: center;font-size: 12px; color: #ccc;">
<p style="color:gainsboro;font-size: 10px;"><span class="Scv_time"></span> 版权：智鸟旅服----国内专业的在线旅游管家服务平台 厦门智鸟网络科技有限公司 版权所有 投诉电话：0532-87010818</p>
</div>

<script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery_lazyload/1.9.1/jquery.lazyload.min.js"></script>

<script>
$(function() {
    $("img").lazyload(
        {
        // 距离屏幕 200 像素时加载
        threshold:200,
        // 淡入效果
        effect:"fadeIn",
        // 当插件找到10个不在可见区域内的图片时停止搜索
        failure_limit : 10,
        // 加载隐藏图片
        skip_invisible : false,
        // 设置占位符替代显示区域内待加载的图片
        // placeholder:'loading.gif'
        }
    );
});
$('.kefu_wx').text('17788889999');	
$('.kefu_nickname').text('小明');
$('.se1x').text('他');
</script>
</body>
</html>
 

