* {
	list-style-type: none;
	outline: none;
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

.nav {
	height: 600px;
	background:no-repeat;
	background-size: auto 100%;
	background-position: center;
}

.sekuai {
	height: 60px;
	background-color: rgba(35, 32, 39, 0.8);
}

.navli{
	width: 1000px;
	height: 60px;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content:space-between;
}
.fiveday{
	margin-bottom: 10px;
}
.fiveday>span{
	display: inline-block;
	background-color: #fab400;
	color: white;
	padding: 0 10px;
	margin-right: 10px;
}

.navli img{
	margin-left: 30px;
}

.leimu a{
	margin-right: 48px;
	color: white;
	text-decoration: none;
}
.xgs>div>img{
	width: 145px;
	height: 90px;
}
.sousuo{
	display: flex;
	align-items: center;
	width: 130px;
	height: 30px;
	background-color: white;
	border-radius: 15px;
	padding:0 18px;
	box-sizing: border-box;
}

.sousuo>img{
	width: 18px;
	height: 18px;
}

.sousuo>input{
	width: 50px;
	border:0;
}

.liantu{
	display: flex;
}

.liantu>div{
	cursor:pointer;
}

.qq{
	background-image: url(../images/qq-icon.png);
	width: 30px;
	height: 30px;
	margin-right: 20px;
}

.qq:hover{
	background-image: url(../images/qq-icon-hover.png)!important;
}

.wb{
	background-image:url(../images/wb-icon.png);
	width: 30px;
	height: 30px;
	margin-right: 40px;
}

.wb:hover{
	background-image: url(../images/wb-icon-hover.png)!important;
}

.leimu a:hover{
	color: #fab400;
	text-decoration: underline;
}

.question{
	width: 1000px;
	padding-top: 15px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 15px;
}

.question-l{
	width: 660px;
}

.question-l>div>*{
	display: inline-block;
	position:relative;
}

.question-l>div>h3{
	font-size: 14px;
	color: #fab400;
	margin-left: 10px;
}

.question-l>div>h4{
	font-size: 14px;
	color: #888888;
	margin-left: 30px;
	letter-spacing: 6px;
}

.question-l>h1{
	font-size: 24px;
	color: #313131;
	margin-top: 30px;
}

.question-l>p{
	font-size: 14px;
	color: #666666;
	width: 560px;
	text-align: justify;
	height: 40px;
    overflow: hidden;
    margin-top: 20px;
}

.wanzheng{
	text-align: center;
	color: #FAB400;
}

.zhijiao{
	width: 10px;
	height: 10px;
	border-right: 2px solid #fab400;
	border-bottom: 2px solid #fab400;
	transform:rotate(45deg);
	position: absolute;
	right: -20px;
	top: 2px;
}

.question-l-b>div{
	display:inline-flex;
	align-items:center;
}

.question-l-b>div{
	margin-right: 50px;
}

.question-l-b>div>span{
	margin-left: 15px;
	color: #888;
}

.question-2{
	width: 300px;
	display: flex;
	flex-wrap:wrap;
	margin-top: 50px;
}
.question-2>div>*{
	display: inline-block;
	text-align: center;
	color: #666666;
	font-size: 12px;
}

.question-2>div{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.question-2>div>div>p{
	margin-top: 15px;
}

.question-2>div>div{
	cursor: pointer;
}

.question-2>div>div:hover{
	color:#fab400;
}

.button1{
	text-decoration: none;
	color: #fab400!important;
	width: 80px;
	height: 28px;
	border: 1px solid #fab400;
	line-height: 28px;
	border-radius: calc(6px);
	margin-right: 20px;
}

.button1:hover{
	color:white!important;
	background-color: #fab400;
}

.button2{
	text-decoration: none;
	color:white!important;
	width: 80px;
	height: 28px;
	line-height: 28px;
	border-radius: calc(6px);
	background-color: #fab400;
	border: 1px solid #fab400;
}

.button2:hover{
	color:#fab400!important;
	background-color:white;
}

.line1{
	width: 1000px;
	height: 1px;
	background-color: #e5e5e5;
	margin: 0 auto;
	margin-top: 15px;
}

.huida{
	width: 1000px;
	margin:30px auto;
	display: flex;
}

.huida1{
	background-color: #fab400;
	width:4px;
	height: 20px;
	margin-right: 10px;
}

.huida>span{
	color: #fab400;
}


.main{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	position: relative;
	justify-content: space-between;
}

.main-left{
	width: 660px;
	align-items: flex-start;
}

.touxiang1{
	display:flex;
}
.touxiang1>:first-child>img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.touxiang11{
	display:flex;
	justify-content: space-between;
	width: 100%;
	align-items: flex-start;
}

.touxiang11>div>h3{
	color: #303030;
	font-size: 14px;
	font-weight: normal;
	margin-right: 20px;
}

.touxiang11>div>h4{
	color: #888;
	font-size: 12px;
	font-weight: normal;
}


.pinglun{
	width: 590px;
	text-align: justify;
	color:#444444;
	margin-left: 70px;
	margin-top: -15px;
}

.pinglun>p{
	line-height: 30px;
	overflow: hidden;
}

.pinglun>img{
	margin:20px 0;
	background-repeat: no-repeat;
    background-size: auto 100%;
    width: inherit;
}

.main-right{
	width: 300px;
	/*position: absolute;*/
	/*right: 0px;*/
}

.main-right>div{
	align-items:flex-end;
	justify-content: space-between;
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 10px;
}

.main-right>div>h1{
	font-size: 18px;
	color: #303030;
	font-weight: normal;
}

.main-right>div>a{
	color: #888;
	font-size: 12px;
	text-decoration: none;
	display:flex;
	align-items: center;
}

.main-right>div>a:hover{
	text-decoration: underline;
}

.zhijiao2{
	width: 6px;
	height: 6px;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	transform:rotate(-45deg);
	display: inline-flex;
}

.xgs{
	display: flex;
	margin-top: 10px;
	cursor: pointer;
}

.xgp{
	width: 145px;
	color: #666666;
	font-size: 14px;
}

.xgp:hover{
	text-decoration: underline;
}


.pltb{
	display:flex;
	align-items: center;
	justify-content: flex-end;
	margin:20px 0 30px 70px;
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 20px;
}

.pltb>img{
	margin:0 10px 0 30px;
}

.pltb>p{
	font-size: 14px;
	color: #8a8a8a;
}

.pltc{
	background-color: #f6f6f6;
	margin-left: 70px;
	padding-top: 20px;
	margin-top: 20px;
}

.pltc1{
	display:flex;
	align-items:center;
}

.hh3{
	font-weight: normal;
	font-size: 14px;
	color: #333;
	margin: 0 15px;
}

.hh4{
	font-weight: normal;
	font-size: 12px;
	color: #888;
}

.pltx{
	margin-left: 20px;
	height: 30px;
}
.pltx>img{
	width: 30px;
	border-radius: 50%;
}

.plhd>p{
	font-size:14px;
	color: #666;
	text-align: justify;
	margin: 10px 20px 20px 20px;
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 20px;
	line-height: 24px;
}

.sanjiao{
	
}


.chakan{
	color: #ffae00;
	text-decoration: none;
	font-size: 14px;
}

.chakan:hover{
	color: #FAB400;
	text-decoration: underline;
}

.fbpl{
	background-color: #f6f6f6;
	height: 40px;
	border-radius: calc(10px);
	margin: 30px 0 20px 0;
}

.plan{
	display: flex;
	justify-content: space-between;
}

.tpbq{
	display: flex;
	justify-content: space-between;
	height: 20px;
	}

.tpbq>span{
	font-size: 14px;
	color: #888888;
	margin-left: 10px;
	cursor: pointer;
}

.tpbq>span:hover{
	color: #FAB400;
}

.plbt{
	width:100px;
	height:32px;
	background-color: #fab400;
	color:white;
	text-decoration:none;
	border-radius: calc(6px);
	display: block;
	text-align: center;
	line-height: 32px;
}

.plbt:hover{
	background-color: #ffc83b;
}

/* .bottom{
	background-color: #666;
	box-sizing: border-box;
} */

.bottom>p{
	color: rgb(199, 199, 199);
	font-size: 12px;
	text-align: center;
	line-height: 36px;
}


.bot-chat02-area {
    height: 50px;
    width: 660px;
    padding: 14px;
    resize: none;
    outline: 0;
    border-radius: 6px;
    font-size: 14px;
    color:#888;
    user-select: none;
    box-sizing: border-box;
    background-color: #F6F6F6;
    border: 0px;
}

.weixin{
	font-weight: bold;
	color:red;
	background-color: yellow;
}

.mcimg>*{
	display: inline-block;
	width: 48%;
	height:188px;
	background-repeat: no-repeat;
	background-size:auto 100% ;
	margin: 20px 0;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	.hidem{
		display: none!important;
	}
	.question,.question-l,.huida,.main,.question-l>p,.main-left,.pinglun,.pinglun>img,.bot-chat02-area{
		width: 100%;
	}
	.question{
		padding:  10px;
   		box-sizing: border-box;
	}
	.question-l>h1{
		font-size: 18px;
		margin-top: 10px;
	}
	.sekuai{
		height: 50px;
	}
	.nav{
		height: 200px;
		width: 100%;
		background-position: center center;
		background-size: auto 100%;
	}
	.navli{
		width: 100%;
		height: 100%;
	}
	.question-l>p{
		height: auto;
	}
	.leimu{
		display: flex;
	    justify-content: space-around;
	    width: 100%;
	}
	.leimu>a,.question-l>div>h4,.question-l-b>div,.pinglun{
		margin: 0px;
	}
	.question-l-b{
		display: flex;
   		justify-content: space-between;
	}
	.question-l-b>div>span{
		margin-left: 6px;
	}
	.main-left{
		padding: 0 14px;
  		box-sizing: border-box;
	}
	.pltb{
		margin-left: 0px;
		margin: 10px 0;
	}
	.pltc{
		margin: 10px 10px 0px 10px;
	}
	.mimg{
		width:170px!important;
		height: 128px!important;
	}
	.mimgbgm1{
		background-size: auto 100%!important;
	}
	.mimgbgm2{
		background-size: 100% auto!important;
	}
	.huida{
		margin:20px auto;
	}
}
.ld {
	margin: 0 10px;
}

.clipboards {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 10001;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, .4);
}

.clipboards-main {
	position: relative;
	top: 30%;
	width: 80%;
	height: auto;
	padding: 10px;
	margin: 0 auto;
	border-radius: 4px;
	background-color: #fff;
}

.clpclosed {
	position: absolute;
	top: 5px;
	right: 5px;
	height: 20px;
	line-height: 18px;
	font-size: 16px;
	text-align: center;
	width: 20px;
	border: 1px solid #888;
	border-radius: 50%;
}

.clpbox,
.clpbox2 {
	padding: 15px 20px;
	text-align: center;
	line-height: 24px;
}

.clpinfo {
	font-size: 18px;
	color: #ca0e00;
}

.clpinfo2 {
	font-size: 14px;
	color: #555;
	margin-top: 10px;
}

.red {
	color: rgb(204, 0, 0);
	font-weight: bold;
}

.clpwx {
	display: inline-block;
	background-color: #ca0e00;
	padding: 6px 10px;
	border-radius: 4px;
	color: #fff;
	font-size: 18px;
}

button {
	border: 0;
	background: none;
	font-size: 100%;
}

p>img {
	width: 100%;
}