<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<title>求一篇好玩省钱的重庆游玩攻略！</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="shortcut icon" href="http://t.hnldcm.com/static/icon/ld.png">

<link rel="stylesheet" type="text/css" href="static/css/ld.css">

<!-- Bytedance Tracking -->
<!-- End Bytedance Tracking -->
</head>

<body>    
<div class="main">
	<!--问-->
	<div class="question">
		<div class="tit">最近计划去重庆玩，有哪些必去的景点？有哪些好吃的美食？具体线路怎么走？求一篇好玩省钱的重庆游玩攻略！在线等！</div>
		<div class="con" style="font-weight:bold;margin-bottom: 0px;">
			<div class="tags clearfix">
				<a href="javascript:;">天坑地缝</a>
				<a href="javascript:;">奥陶纪</a>
				<a href="javascript:;">解放碑</a>
				<a href="javascript:;">洪崖洞</a>
			</div>
			<div class="user clearfix">
				<img src="static/picture/1_002.jpg"> 招财猫 2018-11-20</div>
			<div class="q-operate clearfix">
				<div class="fr">
					<span class="atten-num">185180浏览</span>
					<span class="atten-num"><span id="_j_same_num">11885</span>人</span>
					<a class="btn-atten _j_same_question _j_undo_same_question">已关注</a>
				</div>
			</div>
		</div>
		<!--回答-->
		<div class="answerBox" id="888">
			<div class="item">
				<dl class=" clearfix">
					<dt><img data-original="static/picture/a1.jpg"></dt>
					<dd>
						<div class="tit user-bar">
							<span class="name">流浪的心</span>
							<span class="level">LV.38</span>
							<span class="identity i-place">旅游达人</span>
						</div>
					</dd>
					<div class="con">
						<h3 style="color:darkorange;float:left;">
							<img class="sss" data-original="static/picture/jp.jpg" style="display:inline;margin:0;">
							<span class="dianzan" id="dianzan001"
								style="float:right;line-height:33px;font-size:17px;font-weight:bold">金牌回答（12518人已采纳）</span>
						</h3>
						<div style="clear:both"></div>
						<p style="text-indent: 0px;">重庆这座美食之都，很多景点是非常值得去玩的，我给列一下：
						</p>
						<p style="text-indent: 0px;"><span class="bracket">1.【重庆市区】</span>洪崖洞，长江索道，磁器口，解放碑
						</p>
						<p style="text-indent: 0px;"><span class="bracket">2.【奥陶纪园】</span>高空漫步，云端廊桥，玻璃桥，悬崖秋千
						</p>
						<p style="text-indent: 0px;"><span class="bracket">3.【武隆景区】</span>天生三桥，龙水峡地缝，仙女山
						</p>
						<p style="text-indent: 0px;"><span class="bracket">4.【长江三峡】</span>丰都，白帝城，长寿村，巫山，三峡大坝
						</p>
						<p style="text-indent: 0px;">
							<span
								class="bracket">5.【游玩经验】</span>亲身体验了才有发言权，这次去是直接找到了重庆当地口碑最好的旅游导游提前安排的，从接送飞机到吃、住、游、娱这一系列的全都安排的很细致，精华景点玩了个遍，吃的是特色饮食，住的是四星酒店，还有旅行导游24小时服务（这点必须超赞），并且全程没有购物和套路，4天人均花费1000多点，关键还省不少事，这趟玩的特开心，出门旅行就得找这种当地一手资源，专业，实惠，接待品质确实不错，想去玩的可以去联系。
						</p>
						<p style="text-indent: 0px;"><span class="bracket">6.【资源共享】</span>重庆导游微信：<span class="wx"></span></p>
						<!--<p id="sb1" style="text-align:center;color:">展开剩余38%<img src="static/picture/xx.png"></p>-->
						<div class="imgs">
							<p><img data-original="static/picture/1.jpg" style="display:block;width:100%"></p>
							<p><img data-original="static/picture/123.jpg" style="width:100%;"></p>
							<p><img data-original="static/picture/3.jpg" style="width:100%;"></p>
						</div>
						<div class="a-operate _js_operate clearfix">
							<div class="fl">
								<!-- 问题分享 -->
								<div class="cmt-toggle">
									<div class="q-share cate-share">
										<a href="javascript:;" class="_js_showShare"><i class="q-share-icon icon"></i>回答</a> </div>
									<div class="pub-time">
										<span>发布于 2018-<span class="month">11</span>-20 18:18
									</span></div>
								</div>
							</div>
						</div>
						<div class="con" style="font-size:16px;">
							<!--回复开始-->
							<div class="pinglun">
								<div class="pl_icon"></div>
								<div class="pl_text">
									<div class="list">
										<div class="pl_tit clearfix">
											<div class="img"><img src="static/picture/a2.jpg"></div>
											<div class="text">
												<h2>老友记 <em>LV.34</em>
												</h2>
											</div>
										</div>
										<div class="pl_cont">
											<p>谢谢分享，请问老人和孩子去那边玩合适吗？</p>
										</div>
									</div>
									<div class="list">
										<div class="pl_tit clearfix">
											<div class="img"><img src="static/picture/a1.jpg"></div>
											<div class="text">
												<h2>浅怀感伤 love<em>LV.37</em>
												</h2>
											</div>
										</div>
										<div class="pl_cont">
											<p>挺合适的，我上去带家里老人和孩子去，也是找的<m class="mz1"></m>
												安排的，行程安排的很轻松，玩的很开心，专业的事就交给专业的人做，我们就享受服务和欣赏美景。
											</p>
										</div>
									</div>
									<div class="list">
										<div class="pl_tit clearfix">
											<div class="img"><img src="static/picture/a021.jpg"></div>
											<div class="text">
												<h2>怀念青春<em>LV.34</em>
												</h2>
											</div>
										</div>
										<div class="pl_cont">
											<p>谢谢推荐，已经找<m class="mz1"></m>咨询过了，<m class="mz1"></m>
												非常专业，已经预定了26号过去！之前在网上也找了好多，还是<m class="mz1"></m>
												细心周到，该带些什么样衣物，准备些什么，都细细的交代一遍，选对了品牌我才知道什么是专业。</p>
										</div>
									</div>
									<div class="list">
										<div class="pl_tit clearfix">
											<div class="img"><img src="static/picture/a022.jpg"></div>
											<div class="text">
												<h2>请别copy我<em>LV.35</em>
												</h2>
											</div>
										</div>
										<div class="pl_cont">
											<p>我也是对比过很多才找的<m class="mz1"></m>
												，确实挺牛的，为保证品质，每天都是限量接待，果断抢了10号的位置，说走就走，玩了5天，特开心，这1000多块花的值，良心推荐一下
											</p>
										</div>
									</div>
								</div>
							</div>

						</div>
						
					</div>
				</dl>
			</div>
			<div class="item">
				<dl class=" clearfix">
					<dt><img src="static/picture/a4.jpg"></dt>
					<dd>
						<div class="tit user-bar">
							<span class="name">爱唱歌的旅者</span>
							<span class="level">LV.11</span>
							<span class="identity i-place">指路人</span>
						</div>
					</dd>
					<div class="con">
						<p>我和闺蜜刚从重庆回来，也是通过网上朋友介绍找的<m class="mz1"></m>
							，个人觉得费用很划算了，而且超级省心，全程不用我操心，安排的也很合理，精华景点都可以游玩到，并且玩的很自由，想走就走，想停就停，没有购物，没有旅游套路，是真正意义上的旅行！
						<p><img data-original="static/picture/18.jpg"></p>
						<p><img data-original="static/picture/19.jpg"></p>
					</div>
					<div class="a-operate _js_operate clearfix">
						<div class="fl">
							<!-- 问题分享 -->
							<div class="cmt-toggle">
								<div class="q-share cate-share">
									<a href="javascript:;" class="_js_showShare"><i
											class="q-share-icon icon"></i>回答</a>
								</div>
								<div class="pub-time">
									<span>发布于 2018-<span class="month">11</span>-20 13:12</span>
								</div>
							</div>
						</div>
					</div>

				</dl>
			</div>
			<div class="item">

			</div>
			<div class="item">
				<dl class="clearfix">
					<dt><img src="static/picture/2782517.jpg"></dt>
					<dd>
						<div class="tit user-bar">
							<span class="name">大连的叶秋</span>
							<span class="level">LV.47</span>
							<span class="identity i-place">签约旅行家</span>
						</div>
					</dd>
					<div class="con">
						<p>我是大连的叶秋，是携程签约旅行家、百度旅游行程规划师，蚂峰窝特约嘉宾！ </p>
						<p>我这里向你推荐重庆的精华景点给你参考：</p>
						<p><img data-original="static/picture/9.jpg"></p>
						<p class="p_center">奥陶纪主题公园</p>
						<p><img data-original="static/picture/img16.jpg"></p>
						<p class="p_center">长江索道</p>
						<p><img data-original="static/picture/img02.jpg"></p>
						<p class="p_center">洪崖洞商业街</p>
						<p><img data-original="static/picture/6.jpg"></p>
						<p class="p_center">解放碑步行街</p>
						<p><img data-original="static/picture/7.jpg"></p>
						<p class="p_center">仙女山国家森林公园</p>
						<p><img data-original="static/picture/8.jpg"></p>
						<p class="p_center">长江夜景</p>
						<p>1：奥陶纪主题公园（惊险刺激高空项目，历史遗产双结合）</p>
						<p>2：武隆天坑地缝（大自然壮丽景观）</p>
						<p>3：穿楼轻轨，长江索道，两江夜游（两江不同的文化，不同的底蕴交汇），洪崖洞仿古建筑群（夜景很壮观）</p>
						<p>4：信佛的朋友，还可以去大足石刻，宝顶山石刻</p>
						<p>5：渣滓洞、白公馆、磁器口（历史文化很重，革命教育意义很浓，必打卡的景点）</p>
						<p>6：当地的旅游导游~</p>
						<span class="wx"></span>，确实不错，省心省钱，非常专业，推荐一下。
					</div>
					<div class="a-operate _js_operate clearfix">
						<div class="fl">
							<!-- 问题分享 -->
							<div class="cmt-toggle">
								<div class="q-share cate-share">
									<a href="javascript:;" class="_js_showShare"><i
											class="q-share-icon icon"></i>回答</a> </div>
								<div class="pub-time">
									<span>发布于 2018-<span
											class="month">11</span>-20 18:18</spanc>
								</div>
								<br>
							</div>
						</div>
					</div>
					<!--回复开始-->
					<div class="pinglun">
						<div class="pl_icon"></div>
						<div class="pl_text">
							<div class="list">
								<div class="pl_tit clearfix">
									<div class="img"><img src="static/picture/a18.jpg"></div>
									<div class="text">
										<h2>计生<em>LV.34</em>
										</h2>
									</div>
								</div>
								<div class="pl_cont">
									<p>哇塞…叶秋都来了，大神啊，膜拜一下。</p>
								</div>
							</div>
							<div class="list">
								<div class="pl_tit clearfix">
									<div class="img"><img src="static/picture/a19.jpg"></div>
									<div class="text">
										<h2>岛屿<em>LV.37</em>
										</h2>
									</div>
								</div>
								<div class="pl_cont">
									<p>我是旅游的忠实粉丝，追随您的脚步已经大半个中国了。</p>
								</div>
							</div>
							<div class="list">
								<div class="pl_tit clearfix">
									<div class="img"><img src="static/picture/a9.jpg"></div>
									<div class="text">
										<h2>小黄鹂<em>LV.37</em>
										</h2>
									</div>
								</div>
								<div class="pl_cont">
									<p>拜大神，猜猜我是谁？</p>
								</div>
							</div>
							<div class="list">
								<div class="pl_tit clearfix">
									<div class="img"><img src="static/picture/a19.jpg"></div>
									<div class="text">
										<h2>岛屿<em>LV.37</em>
										</h2>
									</div>
								</div>
								<div class="pl_cont">
									<p><span style="color:blue">@小黄鹂</span> 世界很小啊…微信聊</p>
								</div>
							</div>
						</div>
					</div>
					<!--回复结束-->
				</dl>
			</div>
			<div class="item">
				<dl class=" clearfix">
					<dt><img src="static/picture/a1.jpg"></dt>
					<dd>
						<div class="tit user-bar">
							<span class="name">短发也美丽love</span>
							<span class="level">LV.21</span>
							<span class="identity i-place">重庆</span>
						</div>
					</dd>
					<div class="con">
						<p>刚结婚蜜月之旅，找的就是楼上说的旅游导游，当时帮我规划的行程涵盖了重庆最值得去的几大景点。本来只打算玩4天，老婆非要去阿依河，多玩了1天。</p>
						<p>第1天到达重庆，入住酒店了我们自己闲逛了一下市区。</p>
						<p>第2天游览蚩尤九黎城，龚滩古镇，晚上还有"篝火晚会"。</p>
						<p>第3天游览阿依河、武隆天生三桥</p>
						<p>第4天市区网红景点，洪崖洞，解放碑，长江索道等。</p>
						<p>第5天送我们到高铁站结束行程。</p>
						<p>五天的行程不是很赶，一天一两个景点，自由慢玩，交通门票加酒店吃饭两个人一共花了3000多一点，算了下比自己玩省1000多呢，<span class="nickname"></span>
							的服务确实是好，帮我们省心很多，省钱不少，还帮我们拍了很多蜜月照，也是个不错的摄影师，哈哈。所以要去重庆的话，可以问问当地的旅游导游<span class="nickname"></span>哦，这是<span class="gender"></span>的微信<span class="wx"></span></p>
						<p><img data-original="static/picture/67.jpg"></p>
						<p><img data-original="static/picture/68.jpg"></p>
						<p><img data-original="static/picture/69.jpg"></p>
						<p><img data-original="static/picture/70.jpg"></p>
					</div>
					<div class="a-operate _js_operate clearfix">
						<div class="fl">
							<!-- 问题分享 -->
							<div class="cmt-toggle">
								<div class="q-share cate-share">
									<a href="javascript:;" class="_js_showShare"><i
											class="q-share-icon icon"></i>回答</a>
								</div>
								<div class="pub-time">
									<span>发布于 2018-<span
											class="month">11</span>-20 18:56</spanc>
								</div>
							</div>
						</div>
					</div>
					<!--回复开始-->
					<div class="pinglun">
						<div class="pl_icon"></div>
						<div class="pl_text">
							<div class="list">
								<div class="pl_tit clearfix">
									<div class="img"><img src="static/picture/a2.jpg"></div>
									<div class="text">
										<h2>东东<em>LV.34</em>
										</h2>
									</div>
								</div>
								<div class="pl_cont">
									<p>哈喽，我和男朋友定在十一结婚，打算下个月提前去重庆旅游，顺便拍一套婚纱照，这个<m class="mz1"></m>可以安排吗？</p>
								</div>
							</div>
							<div class="list">
								<div class="pl_tit clearfix">
									<div class="img"><img src="static/picture/a1.jpg"></div>
									<div class="text">
										<h2>短发也美丽love<em>LV.37</em>
										</h2>
									</div>
								</div>
								<div class="pl_cont">
									<p>回复@东东：当然可以的，我就看到有的游客是带着摄影师边游玩边拍婚纱的
									</p>
								</div>
							</div>
							<div class="list">
								<div class="pl_tit clearfix">
									<div class="img"><img src="static/picture/a2.jpg"></div>
									<div class="text">
										<h2>小倩<em>LV.12</em>
										</h2>
									</div>
								</div>
								<div class="pl_cont">
									<p>朋友上次去重庆就是自己玩的，当时也是第一次去，玩的累死了...可能是外地游客的原因，当地消费也不低，3天时间一个人就花了3000多，还不算来回机票呢。可以给
										<m class="mz1"></m>的联系方式么？我打算过些天带爸妈也去重庆玩几天。楼主知不知道重庆的小吃街在哪呀？哪里最正宗？</p>
								</div>
							</div>
							<div class="list">
								<div class="pl_tit clearfix">
									<div class="img"><img src="static/picture/a1.jpg"></div>
									<div class="text">
										<h2>短发也美丽love<em>LV.37</em>
										</h2>
									</div>
								</div>
								<div class="pl_cont">
									<p>回复@小倩：我是个路痴，这个我就真记不住了，你问问<span class="nickname"></span>吧，应该是这个微信<span class="wx"></span>，服务挺不错的。
									</p>
								</div>
							</div>
						</div>
					</div>
					<!--回复结束-->
				</dl>
			</div>
			<div class="item">
				<dl class="clearfix">
					<dt><img src="static/picture/1524037.jpg"></dt>
					<dd>
						<div class="tit user-bar">
							<span class="name">火腿肠的肉肉</span>
							<span class="level">LV.37</span>
							<span class="identity i-place">旅游达人</span>
						</div>
					</dd>
					<div class="con">
						<p>空有一颗当吃货的心，却没有一个海量的胃。自从毕业出去旅行37天后，就爱上了旅行！重庆的美食给大家了解一下哈哈~</p>
						<p><img data-original="static/picture/timg11.jpg"></p>
						<p><img data-original="static/picture/timg2.jpg"></p>
						<p><img data-original="static/picture/timg1.jpg"></p>
						<p><img data-original="static/picture/timg6.jpg"></p>
					</div>
					<div class="a-operate _js_operate clearfix">
						<div class="fl">
							<!-- 问题分享 -->
							<div class="cmt-toggle">
								<div class="q-share cate-share">
									<a href="javascript:;" class="_js_showShare"><i
											class="q-share-icon icon"></i>回答</a>
								</div>
								<div class="pub-time">
									<span>发布于 2018-<span class="month">11</span>-21 09:30</span>
								</div>
								<br>
							</div>
						</div>
					</div>
				</dl>
			</div>
			<div class="item">
				<dl class=" clearfix">
					<dt><img src="static/picture/a3.jpg"></dt>
					<dd>
						<div class="tit user-bar">
							<span class="name">impossinle</span>
							<span class="level">LV.12</span>
							<span class="identity i-place">指路人</span>
						</div>
					</dd>
					<div class="con">
						<p>我也准备去重庆了，请问给你们住的酒店怎么样？<span class="nickname"></span>可以帮忙安排吗？<span class="nickname"></span>怎么联系？会理我吗？还是要咨询费？
						</p>
					</div>
					<div class="a-operate _js_operate clearfix">
						<div class="fl">
							<!-- 问题分享 -->
							<div class="cmt-toggle">
								<div class="q-share cate-share">
									<a href="javascript:;" class="_js_showShare"><i
											class="q-share-icon icon"></i>回答</a>
								</div>
								<div class="pub-time">
									 <span>发布于 2018-<span
											class="month">11</span>-21 10:18</span>
								</div>
							</div>
						</div>
					</div>
					<div class="pinglun">
						<div class="pl_icon"></div>
						<div class="pl_text">
							<div class="list">
								<div class="pl_tit clearfix">
									<div class="img"><img src="static/picture/a1.jpg"></div>
									<div class="text">
										<h2>浪人风火走天涯<em>LV.38</em>
										</h2>
									</div>
								</div>
								<div class="pl_cont">
									<p>酒店都挺不错的，我发几张我之前住的酒店你看一下，全程
										<span class="nickname"></span>
										都可以安排的，<span class="nickname"></span>的微信号<span class="wx"></span>，咨询免费的。
									</p>
									<p><img data-original="static/picture/timg.jpg"></p>
									<p><img data-original="static/picture/img14.jpg"></p>
									<p><img data-original="static/picture/img15.jpg"></p>
								</div>
							</div>
						</div>
					</div>
					<!--回复结束-->
				</dl>
			</div>
			<div class="item">
				<dl class=" clearfix">
					<dt><img src="static/picture/a10.jpg"></dt>
					<dd>
						<div class="tit user-bar">
							<span class="name">明天的明天</span>
							<span class="level">LV.6</span>
							<span class="identity i-place">指路人</span>
						</div>
					</dd>
					<div class="con">
						<p>重庆确实挺美的，上个月是我们上海财大255班的10周年同学聚会，大家都带着家庭相聚在重庆，度过了难忘的4日之旅。当时我们选择的是<span class="nickname"></span>
							帮我们规划的行程，玩的很开心，花费不到1600一个人，确实很实惠，我们挺喜欢这种方式，你要去重庆的话也可以问问<span class="nickname"></span>
						</p>
						<p><img data-original="static/picture/2331.jpg"></p>
						<p><img data-original="static/picture/2332.jpg"></p>
						<p><img data-original="static/picture/2333.jpg"></p>
						<p><img data-original="static/picture/2334.jpg"></p>
					</div>
					<div class="a-operate _js_operate clearfix">
						<div class="fl">
							<!-- 问题分享 -->
							<div class="cmt-toggle">
								<div class="q-share cate-share">
									<a href="javascript:;" class="_js_showShare"><i
											class="q-share-icon icon"></i>回答</a>
								</div>
								<div class="pub-time">
									 <span>发布于 2018-<span
											class="month">11</span>-21 21:02</span>
								</div>
							</div>
						</div>
					</div>
					<!--回复开始-->
					<div class="pinglun">
						<div class="pl_icon"></div>
						<div class="pl_text">
							<div class="list">
								<div class="pl_tit clearfix">
									<div class="img"><img src="static/picture/p9.jpg"></div>
									<div class="text">
										<h2>荣京<em>LV.21</em>
										</h2>
									</div>
								</div>
								<div class="pl_cont">
									<p>是的是的，我们去重庆玩也是找的<m class="mz1"></m>
										，后面回来一算账，酒店+门票，还有车，真的帮我们省了不少钱，至少也省了1000多吧，玩的也自由，想怎么玩就怎么玩。</p>
								</div>
							</div>
							<div class="list">
								<div class="pl_tit clearfix">
									<div class="img"><img src="static/picture/p10.jpg"></div>
									<div class="text">
										<h2>吉娃娃<em>LV.25</em>
										</h2>
									</div>
								</div>
								<div class="pl_cont">
									<p>想去三峡玩，也想去吃地地道道的重庆火锅，一直没时间。先加上<m class="mz1"></m>微信。我就一个人，有想去没队友的可以组团一起去哈。
									</p>
								</div>
							</div>
						</div>
					</div>
					<!--回复结束-->
				</dl>
			</div>
			<div class="item">
				<dl class=" clearfix">
					<dt><img src="static/picture/a12.jpg"></dt>
					<dd>
						<div class="tit user-bar">
							<span class="name">爱旅游</span>
							<span class="level">LV.35</span>
							<span class="identity i-place">旅游达人</span>
						</div>
					</dd>
					<div class="con">
						<p>我想问一下，我1个人，<span class="nickname"></span>可以安排吗？</p>
					</div>
					<div class="a-operate _js_operate clearfix">
						<div class="fl">
							<!-- 问题分享 -->
							<div class="cmt-toggle">
								<div class="q-share cate-share">
									<a href="javascript:;" class="_js_showShare"><i
											class="q-share-icon icon"></i>回答</a>
								</div>
								<div class="pub-time">
									 <span>发布于 2018-<span
											class="month">11</span>-21 19:09</span>
								</div>
							</div>
						</div>
					</div>
					<!--回复开始-->
					<div class="pinglun">
						<div class="pl_icon"></div>
						<div class="pl_text">
							<div class="list">
								<div class="pl_tit clearfix">
									<div class="img"><img src="static/picture/2588131.jpg"></div>
									<div class="text">
										<h2>昂昂<em>LV.21</em>
										</h2>
									</div>
								</div>
								<div class="pl_cont">
									<p>可以的，我上次就是一个人去的，你可以加<m class="xb1"></m>微信咨询一下。</p>
								</div>
							</div>
						</div>
					</div>
					<!--回复结束-->
				</dl>
			</div>
			<div class="item">
				<dl class=" clearfix">
					<dt><img src="static/picture/a15.jpg"></dt>
					<dd>
						<div class="tit user-bar">
							<span class="name">轩轩</span>
							<span class="level">LV.12</span>
							<span class="identity i-place">旅游新手</span>
						</div>
					</dd>
					<div class="con">
						<p>我明天就准备带一家老小去重庆，刚看见这个帖子，现在联系<m class="mz1"></m>迟吗？</p>
					</div>
					<div class="a-operate _js_operate clearfix">
						<div class="fl">
							<!-- 问题分享 -->
							<div class="cmt-toggle">
								<div class="q-share cate-share">
									<a href="javascript:;" class="_js_showShare"><i
											class="q-share-icon icon"></i>回答</a>
								</div>
								<div class="pub-time">
									
									<span>发布于 2018-<span class="month">11</span>-22 12:09</span>
								</div>
							</div>
						</div>
					</div>
					<div class="pinglun">
						<div class="pl_icon"></div>
						<div class="pl_text">
							<div class="list">
								<div class="pl_tit clearfix">
									<div class="img"><img src="static/picture/a4.jpg"></div>
									<div class="text">
										<h2>张吉吉<em>LV.11</em>
										</h2>
									</div>
								</div>
								<div class="pl_cont">
									<p>可以的，专业的就交给专业的人做吧</p>
								</div>
							</div>
						</div>
					</div>
					<!--回复结束-->
				</dl>
			</div>
			<div class="item">
				<dl class=" clearfix">
					<dt><img src="static/picture/2432494.jpg"></dt>
					<dd>
						<div class="tit user-bar">
							<span class="name">就是爱旅游哈哈</span>
							<span class="level">LV.17</span>
							<span class="identity i-place">旅游达人</span>
						</div>
					</dd>
					<div class="con">
						<p>我也是采纳了楼主的分享，选择了<m class="mz1"></m>，真是被<m class="xb1"></m>的专业折服了，我总结了一下几点：<br>
							1、行程轻松，玩的景点又多，人性化的行程安排，能玩好，还能休息好；<br>
							2、没有套路，没有购物店，没有强制性消费；<br>
							3、正规集团大公司，安全可靠；<br>
							4、服务到位，性价比高；<br></p>
						<div class="imgs">
							<p><img data-original="static/picture/timg123.jpg"></p>
						</div>
					</div>
					<div class="a-operate _js_operate clearfix">
						<div class="fl">
							<!-- 问题分享 -->
							<div class="cmt-toggle">
								<div class="q-share cate-share">
									<a href="javascript:;" class="_js_showShare"><i
											class="q-share-icon icon"></i>回答</a>
								</div>
								<div class="pub-time">
									
									<span>发布于 2018-<span class="month">11</span>-22 23:51</span>
								</div>
							</div>
						</div>
					</div>
				</dl>
			</div>
			<div class="item">
				<dl class=" clearfix">
					<dt><img src="static/picture/1_002.jpg"></dt>
					<dd>
						<div class="tit user-bar">
							<span class="name">考克斯</span>
							<span class="level">LV.27</span>
							<span class="identity i-place">旅游达人</span>
						</div>
					</dd>
					<div class="con">
						<p>楼主，你说的那个<m class="mz1"></m>靠谱吗？有正规旅游公司吧？你们去大概花了多少钱？</p>
					</div>
					<div class="a-operate _js_operate clearfix">
						<div class="fl">
							<!-- 问题分享 -->
							<div class="cmt-toggle">
								<div class="q-share cate-share">
									<a href="javascript:;" class="_js_showShare"><i
											class="q-share-icon icon"></i>回答</a>
								</div>
								<div class="pub-time">
									
									<span>发布于 2018-<span class="month">11</span>-23 02:09</span>
								</div>
							</div>
						</div>
					</div>
					<!--回复开始-->
					<div class="pinglun">
						<div class="pl_icon"></div>
						<div class="pl_text">
							<div class="list">
								<div class="pl_tit clearfix">
									<div class="img"><img src="static/picture/2588131.jpg"></div>
									<div class="text">
										<h2>昂昂<em>LV.21</em>
										</h2>
									</div>
								</div>
								<div class="pl_cont">
									<p>绝对靠谱的，当时我们也担心，但<m class="mz1"></m>把<m class="xb1"></m>
										公司的营业执照发给我们看了，我们也都放心了。我们当时玩了五天，而且还去了成都，去了小酒馆，去了玉林路，总共花费还不到<span
											style="color:red;">2500</span>元，特别划算，不用自己订酒店，不用自己来回各种坐车，而且<m
											class="mz1"></span>还知道什么时候哪个景点排队多，为我们错开游览，很多需要排队的地方，真的很专业，很人性化。</p>
								</div>
							</div>
						</div>
					</div>
					<!--回复结束-->
				</dl>
			</div>
			<div class="item">
				<dl class=" clearfix">
					<dt><img src="static/picture/a17.jpg"></dt>
					<dd>
						<div class="tit user-bar">
							<span class="name">南方</span>
							<span class="level">LV.21</span>
							<span class="identity i-place">金牌大师</span>
						</div>
					</dd>
					<div class="con">
						<p>我们一家3口也是刚从重庆回来，话不多说，直接推荐<span class="nickname"></span>：<span class="wx"></span>。
						</p>
					</div>
					<div class="a-operate _js_operate clearfix">
						<div class="fl">
							<!-- 问题分享 -->
							<div class="cmt-toggle">
								<div class="q-share cate-share">
									<a href="javascript:;" class="_js_showShare"><i
											class="q-share-icon icon"></i>回答</a>
								</div>
								<div class="pub-time">
									 <span>发布于 2018-<span
											class="month">11</span>-23 09:19</span>
								</div>
							</div>
						</div>
					</div>
				</dl>
			</div>
			<div class="item">
				<dl class=" clearfix">
					<dt><img src="static/picture/a21.jpg"></dt>
					<dd>
						<div class="tit user-bar">
							<span class="name">边缘</span>
							<span class="level">LV.37</span>
							<span class="identity i-place">旅游达人</span>
						</div>
					</dd>
					<div class="con">
						<p>家里母老虎，一直吵着去重庆荡秋千、去成都小酒馆门口坐坐，我也一直在做攻略，这里那里的交通，景区的交通，酒店，吃饭，搞的我头都大了几圈，终于找到这篇攻略，咨询了<m
								class="mz1"></m>10几分钟，全部搞定，而且比我的预算要低很多，<span
								style="color:red;">1000多点</span>，顿时神清气爽，在家里也能抬头挺胸了…期待与<m class="mz1"></m>
							的相遇，期待重庆、成都的美景美食，我后天出发，论坛里有一起的朋友吗？私信我。</p>
					</div>
					<div class="a-operate _js_operate clearfix">
						<div class="fl">
							<!-- 问题分享 -->
							<div class="cmt-toggle">
								<div class="q-share cate-share">
									<a href="javascript:;" class="_js_showShare"><i
											class="q-share-icon icon"></i>回答</a>
								</div>
								<div class="pub-time">
									 <span>发布于 2018-<span
											class="month">11</span>-23 18:19</span>
								</div>
							</div>
						</div>
					</div>
				</dl>
			</div>
			<div class="item">
				<dl class="clearfix">
					<dt><img src="static/picture/2659846.jpg"></dt>
					<dd>
						<div class="tit user-bar">
							<span class="name">天空放晴就旅游</span>
							<span class="level">LV.13</span>
							<span class="identity i-place">旅游浪人</span>
						</div>
					</dd>
					<div class="con">
						<p>我是上海的，打算下个月在我们上海直接报团过去重庆玩，可是刚听回来的朋友说在我们这里报团过去玩的，基本上都是玩的一些不知名的景点，而且是一直在购物，根本玩不到精华的景点，如果选择过去后在重庆找当地找导游会不会好些？求大神指点哈。
						</p>
					</div>
					<div class="a-operate _js_operate clearfix">
						<div class="fl">
							<!-- 问题分享 -->
							<div class="cmt-toggle">
								<div class="q-share cate-share">
									<a href="javascript:;" class="_js_showShare"><i
											class="q-share-icon icon"></i>回答</a>
								</div>
								<div class="pub-time">
									 <span>发布于 2018-<span
											class="month">11</span>-23 18:30</span>
								</div>
								<br>
							</div>
						</div>
					</div>
					<div class="pinglun">
						<div class="pl_icon"></div>
						<div class="pl_text">
							<div class="list">
								<div class="pl_tit clearfix">
									<div class="img"><img src="static/picture/a1.jpg"></div>
									<div class="text">
										<h2>浪人风火走天涯<em>LV.38</em>
										</h2>
									</div>
								</div>
								<div class="pl_cont">
									<p>找<span class="nickname"></span>吧，<span class="nickname"></span>：<span class="wx"></span>，你可以先咨询一下，放心吧，去不去都可以问的，很耐心的。
									</p>
									<div class="imgs">
										<p><img data-original="static/picture/timg111.jpg"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--回复结束-->
				</dl>
			</div>
			<div class="item">

			</div>
			<div class="item">
				<dl class="clearfix">
					<dt><img src="static/picture/a22.jpg"></dt>
					<dd>
						<div class="tit user-bar">
							<span class="name">雨一直下</span>
							<span class="level">LV.13</span>
							<span class="identity i-place">旅游新手</span>
						</div>
					</dd>
					<div class="con">
						<p>看了楼上的评论和图片，心底有种说走就走的冲动。</p>
					</div>
					<div class="a-operate _js_operate clearfix">
						<div class="fl">
							<!-- 问题分享 -->
							<div class="cmt-toggle">
								<div class="q-share cate-share">
									<a href="javascript:;" class="_js_showShare"><i
											class="q-share-icon icon"></i>回答</a>
								</div>
								<div class="pub-time">
									<span>发布于 2018-<span class="month">10</span>-23 22:30</span>
								</div>
								<br>
							</div>
						</div>
					</div>
				</dl>
			</div>
		</div>
		<div class="qaBox">
			<div class="hd">
				<h1>更多相关搜索</h1>
			</div>
			<ul id="_js_relation_list">
				<li>
					<a href="javascript:;" class="_js_toApp">
						<p>重庆旅游花费大概什么情况，玩5天，预计花费？</p>
						<span>重庆 · 3705浏览 · 32回答</span>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="_js_toApp">
						<p>重庆有没有纯玩的小包团？交通方便么？租车麻烦不？</p>
						<span>重庆 · 2105浏览 · 17回答</span>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="_js_toApp">
						<p>求推荐重庆口碑好的旅行团，或者负责靠谱的导游？</p>
						<span>重庆 · 395浏览 · 21回答</span>
					</a>
				</li>

			</ul>
		</div>
	</div>
	<!--尾部-->
	<p style="font-size:1em;color: #a5a2a2;font-size: 50%;text-align: center;">Copyright 湖南乐迪文化传媒有限公司</p>
</div>

<script data-original="static/js/ld.js"></script>

<script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery_lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script>
$(function() {
    $("img").lazyload(
      {
        // 距离屏幕 200 像素时加载
        threshold:200,
        // 淡入效果
        effect:"fadeIn",
        // 当插件找到10个不在可见区域内的图片时停止搜索
        failure_limit : 10,
        // 加载隐藏图片
        skip_invisible : false,
        // 设置占位符替代显示区域内待加载的图片
        // placeholder:'loading.gif'
      }
    );
});
</script>

</body>
</html>