<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no"/>
<meta name="format-detection" content="email=no" />

<!-- 关键字设置-利于搜索引擎爬取 -->
<meta name="keywords" content="故宫旅游攻略，游玩北京攻略，北京旅游攻略，北京游玩攻略，北京景点排名" />
<!-- 网页描述设置-利于搜索引擎记录 -->
<meta name="description" content="旅游问答，北京游玩攻略，适合老人和小孩的路线" />

<title>近期准备去北京玩，想问一下去过的人有没有好的行程介绍，适合老人和小孩的线路，还有北京是自由行好还是抱团好？</title>

<link rel="stylesheet" type="text/css" href="static/css/ld.css" />

<!-- 统计代码 -->
<!-- 统计代码 -->

</head>

<header> 
<div class="logo"> 
</div> 
<div class="text"> 
<a href="">官网首页</a> 
</div> 
</header>
  
<!-- 提问 START -->
<div class="tiwen"> 

<div class="rights"> 
<div class="title">
    <div class="lefts"> 
      </div>
      近期准备去北京玩，想问一下去过的人有没有好的行程介绍？ 
</div> 
<div class="conts"> 
  <p>准备去北京感受北方的艳阳与蓝天，要和老公孩子一起去，适合老人和小孩的线路，还有北京是自由行好还是抱团好？求各位去过的人支支招，希望可以玩的开心点。</p> 
  </div> 
<div class="tongj"> 
  <b>2531</b>浏览 &middot; 
  <b>18</b>回答 &middot; 
</div> 
<div class="diqu"> 
  <div class="biaozhu">
    北京&middot; 
  </div> 
  <div class="faburen"> 
  <span><img data-original="static/images/tizhu.jpg" /></span>
  </div> 
  <div>
  <span>问于</span>
  <span class="time">2019-04-18</span>
  </div>
</div> 
</div> 
</div>
<!--提问 END-->

  <!--回答 START--> 
  <div class="huida"> 

   <div class="bt"> 
    <span class="kai">最佳答案</span> 
    <div class="xingming"> 
     <div class="da"> 
     </div> 
     <img data-original="static/images/huaerduoduo.jpg" /> 
    </div> 
    <div class="names">
      花儿朵朵
    </div> 
    <div class="dengji">
      Lv39
    </div> 
   </div> 

   <div class="conts"> 
    <p>大家好，我是<strong>朵朵</strong>，喜欢旅行和写旅游博客，可能经常旅行的朋友都认识我吧？</p>
    <p>过去的五年，我写了大概有200篇攻略了，每去一个地方都写下来，希望对前往旅行的朋友有帮助哦~~~</p>
    <p><img data-original="static/pictures/bj01.jpg"/></p>
    <p><strong>去北京必玩景点：</strong>故宫博物院、毛主席纪念堂、八达岭长城、天安门广场、奥林匹克公园、老北京胡同等景点。</p>
    <p>这些景点不管你是年轻人还是带老人或小孩都是必去景点。</p>
    <img data-original="static/pictures/bj02.jpg" />
    <p><strong>有朋友要问北京还有那么多景点，你怎么都没有去呢？</strong></p>
    <p>其实去北京游玩的地方很多，比如<strong>颐和园、</strong><strong>圆明园、</strong><strong>恭王府、</strong><strong>天坛公园、</strong><strong>北海公园、</strong><strong>什刹海、</strong><strong>景山公园</strong>等等，只要大家有时间，都可以去看一看。</p>
      
    <p>如果你是一个吃货那一定要去前门大街逛逛，那里老北京的小吃很多，<strong>全聚德</strong>、<strong>东来顺</strong>、<strong>月盛斋</strong>等等都在哪儿。</p>
    <p><img data-original="static/pictures/bj10.jpg"  /></p>
    <p><strong>这么多景点，时间不多的话，怎么兼顾？</strong></p>
        <p>其实不仅仅是北京，全国、乃至世界各地，美好的景点总不会一次就能玩够，想要玩得好，有一个轻松与美好的旅行和美好的回忆。就别傻乎乎全靠自己去做攻略，很耗时间和金钱的。</p>
    <p><strong>必须懂得利用网上各种资源！！！</strong></p>
    <p><strong>我的解决方案是：</strong>出发去旅行前 ，都去加一些当地导游的微信，我一般在百度旅游网，马蜂窝这些专门做旅游的网站找。加上微信后直接问<span class="gender"></span>们要旅游线路、住宿、门票、交通的报价。<span class="gender"></span>们的报价一般都会比我作为散客身份拿到的价格要优惠一点，毕竟<span class="gender"></span>们是专门做旅游的，和酒店、景点都有长期合作。</p>
    <p>如果你是去北京的话，那么我向你强烈推荐<span class="nickname"></span>。</p>
    <p><span class="gender"></span>的电话微信：<span class="wx"></span></p>

    <p>尤其是带小孩和老人的朋友，<span class="nickname"></span>的服务很贴心很周到。<span class="gender"></span>还提前为我们准备了儿童推车和老人轮椅，这简直是VIP待遇啊。</p>
    
    <img data-original="static/pictures/bj03.jpg"  />

    <p>其实开始的时候，我想自己完全自由行的，但是网上的攻略是一头的雾水，尤其是北京交通的(带小孩出来公共交通特别的拥挤人也超多)、安排路线超级麻烦的，还有酒店预订，景点门票等等一大堆事情，有的景点还限流，不提前定好票，去了还玩不了。</p>
    <p>所以想想，还是用老习惯，加了<span class="nickname"></span>的微信，拿了<span class="gender"></span>的几个路线方案，选了我最喜欢的一条路线，既省钱，也省心，车接车送，还很安全。重要的是全程没有任何强制购物，也没有隐形消费。</p>

    <p><img data-original="static/pictures/bj04.jpg"  /></p>
    
    <p><span class="nickname"></span>人非常热情，有问必答，专业的事交给专业的人做，果然要比自己瞎逛省心，费用也划算很多~</p>

    <p>咨询都是免费的，决定要去的话，可以加<span class="nickname"></span>微信详细了解一下~</p>

    <p>最后，给大家看看我的行程吧~</p>

    <p><strong>D1： 抵达北京市，专车接机，住酒店</strong></p>

    <p>我们是从深圳出发，提前预约好<span class="nickname"></span>，飞机三个小时到达北京首都机场，一出站就看到<span class="gender"></span>已经在等我了，接下來就是一路乘车去了入住的酒店。</p>

    <img data-original="static/pictures/bj05.jpg"  />

    <p><strong>D2：天安门广场、毛主席纪念堂、故宫博物院、什刹海。</strong></p>

    <img data-original="static/pictures/bj06.jpg"  />

    <p><strong>D3：八达岭长城、圆明园、北京奥林匹克公园、天坛</strong></p>

    <!-- <img data-original="static/pictures/bj07.jpg"  /> -->

    <img data-original="static/pictures/bj08.jpg"  />

    <p><strong>D4：颐和园、圆明园、古文化馆、外观清华北大、前门大街</strong></p>

    <img data-original="static/pictures/bj09.jpg"  />

    <p><strong>D5：上午自由活动，睡到自然醒，去西单逛逛。然后<span class="nickname"></span>就安排送我们返程了，完美的旅程结束！</strong></p>

    <img data-original="static/pictures/bj11.jpg"  />

    <p><strong>很多人都会问我：“<span class="nickname"></span>是谁？”“你这么会玩，为什么还要找人啊？”</strong></p>
    <p>原因很简单，我想让我的行程更简单、更轻松，我不用花太多的时间去想酒店的预定、用车的安排、出行的安排，费用的预算</p>
    <p>我想的旅行，就是我轻轻松松的去玩，其它的锁事儿，有靠谱的人安排就行！而<span class="nickname"></span>就是这么一个人~~~~</p>
    <p>1、根据我的想法帮我订制好线路，安排好行车、酒店、特色饮食等</p>
    <p>2、关于要买票的景点，提前帮我预定好，节约排队时间</p>
    <p>3、提供免费接送站服务，行程自由，不走马观花</p>
    <p>4、<span class="nickname"></span>是北京本土管家式导游，专业、口碑好</p>
    <p>北京<span class="nickname"></span>的微信电话：<span class="wx"></span></p>
    <p>你们去北京，记得一定要找<span class="gender"></span>。</p>

    <img data-original="static/pictures/bj12.jpg"  />

    <p><strong>费用是多少？</strong></p>
    <p>§ 这趟行程，总共5天4晚，总花费1500多块钱，对于我来说是相当划算了！全程入住酒店，吃的是<span class="nickname"></span>给我安排的当地特色餐，门票、交通费、<span class="nickname"></span>的管家服务费全部都包含了！</p>
    <p>§ 一千五玩一次北京，对于其它网上的标价来说不算很贵，但是的确更省心，<span class="nickname"></span>做为当地导游，熟悉北京的每一寸土地，更重要的是，<span class="gender"></span>真心把游客当朋友看待，为游客留下好印象！</p>

   </div> 

   <div class="ding"> 
    <span class="dianzan" id="dianzan"><a class="icon-thumbs-up-2" href="javascript:z1(201)"><em id="201">3879</em> 赞</a>人顶过</span> 
    <span class="pl">7 评论 <em></em></span> 
    <span class="time" style="width:30%">2019-04-20</span>
   </div>
   

   <script>
    //  默认隐藏 第一次点击进来为 true 展开  第二次点击进来为 false 关闭
     function demo1() {
       if($(".huifu11").text() == "查看回复") {
        document.getElementById("demo1").style.display="block";
        $(".huifu11").text("收起回复");
       }else {
        document.getElementById("demo1").style.display="none";
        $(".huifu11").text("查看回复");
       }
     }
   </script>
   
   <!--回复开始--> 
<div>
   <div class="plc"> 
    <div class="tops"> 
     <div class="sjx"> 
     </div> 
    </div> 
    <!--小回复开始--> 
    <div class="cons"> 
     <div class="topx"> 
      <img data-original="static/images/xieshouzouguo.jpg" style="display: block;" />携手走过
      <em>LV.26</em> 
     </div> 
     <div class="conx"> 
      <p>我们是一个月前去的，朋友推荐的<span class="nickname"></span>，从出发前半个月到临出门一直在咨询<span class="nickname"></span>。</p>
      <p>有时候感觉自己都问的不好意思了，大到咨询线路，小到洗漱用品什么的，不过<span class="nickname"></span>一直在热情耐心的解答我的问题，这个必须点赞！</p>
      <p>我们去玩了5天，价格还比较实惠，最重要的省心。</p>
      <p>推荐咨询<span class="nickname"></span>：<span class="wx"></span></p>
      <p>让<span class="gender"></span>给你订制一条合理的线路，这样不但有导游带着玩而且很省钱，也省得倒处去找攻略了！</p>
      <img data-original="static/pictures/bj13.jpg"  />
      <a href="javascript:void()" style="color:#999;float: left: ;">2人回复</a>
      <a href="javascript:demo1()" style="color:#999;float: right;" class="huifu11">查看回复</a>
     </div> 
     <div id="demo1" style="display: none;width: 96%;float: right;">
        <div class="plc"> 
            <div class="tops"> 
             <div class="sjx"> 
             </div> 
            </div> 
            <!--小回复开始--> 
            <div class="cons"> 
             <div class="topx"> 
              <img data-original="static/images/wuwangwo.jpg" style="display: block;" />小脑斧 回复 携手走过
             </div> 
             <div class="conx"> 
              <p><span class="nickname"></span>确实非常给力，我和我老婆都非常满意，一路上也比较幽默。</p>
             </div> 
             <!--小回复结束--> 
            </div>
           </div> 
           <div class="plc"> 
            <div class="tops"> 
             <div class="sjx"> 
             </div> 
            </div> 
            <!--小回复开始--> 
            <div class="cons"> 
             <div class="topx"> 
              <img data-original="static/images/sansanxin.jpg" style="display: block;" />携手走过 回复 小脑斧
             </div> 
             <div class="conx"> 
              <p>我上周去的北京也是找的<span class="nickname"></span>，一家人<span class="gender"></span>都照顾的很到位！很负责，安排的路线也很合理，想要去的朋友可以加微信联系。</p> 
        
             </div> 
             <!--小回复结束--> 
            </div>
           </div>
     </div>
     <!--小回复结束--> 
    </div>
   </div> 
   <div class="plc"> 
    <div class="tops"> 
     <div class="sjx"> 
     </div> 
    </div> 
    <!--小回复开始--> 
    <div class="cons"> 
     <div class="topx"> 
      <span><a href="javascript:pl(201)" style="color:#999">回复</a></span> 
      <img data-original="static/images/wuwangwo.jpg" style="display: block;" />勿忘我
      <em>LV.39</em> 
     </div> 
     <div class="conx"> 
      <p><span class="nickname"></span>确实非常给力，我和我老婆都非常满意，一路上也比较幽默。</p>
     </div> 
     <!--小回复结束--> 
    </div>
   </div> 
   <div class="plc"> 
    <div class="tops"> 
     <div class="sjx"> 
     </div> 
    </div> 
    <!--小回复开始--> 
    <div class="cons"> 
     <div class="topx"> 
      <span><a href="javascript:pl(201)" style="color:#999">回复</a></span> 
      <img data-original="static/images/sansanxin.jpg" style="display: block;" />散散心
      <em>LV.26</em> 
     </div> 
     <div class="conx"> 
      <p>我上周去的北京也是找的<span class="nickname"></span>，一家人<span class="gender"></span>都照顾的很到位！很负责，安排的路线也很合理，想要去的朋友可以加微信联系。</p> 

      <img data-original="static/pictures/bj14.jpg"  />

      <img data-original="static/pictures/bj15.jpg"  />

     </div> 
     <!--小回复结束--> 
    </div>
   </div> 
   <div class="plc"> 
    <div class="tops"> 
     <div class="sjx"> 
     </div> 
    </div> 
    <!--小回复开始--> 
    <div class="cons"> 
     <div class="topx"> 
      <span><a href="javascript:pl(201)" style="color:#999">回复</a></span> 
      <img data-original="static/images/suiyuejinghao.jpg" style="display: block;" />岁月静好
      <em>LV.39</em> 
     </div> 
     <div class="conx"> 
      <p>去北京是老人和小孩的梦想，正准备趁着70周年庆，找个时间带<span class="gender"></span>们去，这篇攻略对我来说太有用了，已加上<span class="nickname"></span>，大神都这么推荐，肯定不会有错</p>
     </div> 
     <!--小回复结束--> 
    </div>
   </div> 
   <div class="plc"> 
    <div class="tops"> 
     <div class="sjx"> 
     </div> 
    </div> 
    <!--小回复开始--> 
    <div class="cons"> 
     <div class="topx"> 
      <span><a href="javascript:pl(201)" style="color:#999">回复</a></span> 
      <img data-original="static/images/yuanmeimei.jpg" style="display: block;" />原美美
      <em>LV.26</em> 
     </div> 
     <div class="conx"> 
      <p>为什么我出门旅游就没碰到颜值这么好的导游，这颜值，放在朋友圈里看着也开心，哈哈哈！！！</p>
     </div> 
     <!--小回复结束--> 
    </div>
   </div> 
   <div class="plc"> 
    <div class="tops"> 
     <div class="sjx"> 
     </div> 
    </div> 
    <!--小回复开始--> 
    <div class="cons"> 
     <div class="topx"> 
      <span><a href="javascript:pl(201)" style="color:#999">回复</a></span> 
      <img data-original="static/images/xiaoxiao.jpg" style="display: block;" />萧筱
      <em>LV.11</em> 
     </div> 
     <div class="conx"> 
      <p>品质导游，良心推荐！</p>
     </div> 
     <!--小回复结束--> 
    </div>
   </div> 
   <div class="plc"> 
    <div class="tops"> 
     <div class="sjx"> 
     </div> 
    </div> 
    <!--小回复开始--> 
    <div class="cons"> 
     <div class="topx"> 
      <span><a href="javascript:pl(201)" style="color:#999">回复</a></span> 
      <img data-original="static/images/xiongxiong.jpg" style="display: block;" />熊熊
      <em>LV.39</em> 
     </div> 
     <div class="conx"> 
      <p>已加<span class="nickname"></span>微信，沟通了一下，感觉很专业</p>
     </div> 
     <!--小回复结束--> 
    </div>

        <!--小回复开始--> 
    <div class="cons"> 
     <div class="topx"> 
      <span><a href="javascript:pl(201)" style="color:#999">回复</a></span> 
      <img data-original="static/images/zhutouzhunao.jpg" style="display: block;" />猪头猪脑 
      <em>LV.47</em> 
     </div> 
     <div class="conx"> 
      <p>导游很不错，谢谢<span class="nickname"></span>的安排！我们因为人数少，选择的是自由行结伴，到北京签订合同后，没有收我们一分额外的钱！</p> 
     </div> 
     <!--小回复结束--> 
    </div>

        <!--小回复开始--> 
    <div class="cons"> 
     <div class="topx"> 
      <span><a href="javascript:pl(201)" style="color:#999">回复</a></span> 
      <img data-original="static/images/qiukk.jpg" style="display: block;" />邱kk
      <em>LV.51</em> 
     </div> 
     <div class="conx"> 
      <p>我也是找<span class="nickname"></span>安排的行程...各方面都还不错</p>
     </div> 
     <!--小回复结束--> 
    </div>

        <!--小回复开始--> 
    <div class="cons"> 
     <div class="topx"> 
      <span><a href="javascript:pl(201)" style="color:#999">回复</a></span> 
      <img data-original="static/images/dandan.jpg" style="display: block;" />丹丹
      <em>LV.32</em> 
     </div> 
     <div class="conx"> 
      <p><span class="nickname"></span>的服务没得说，真心不错！去过的都很满意！</p>
     </div> 
     <!--小回复结束--> 
    </div>

        <!--小回复开始--> 
    <div class="cons"> 
     <div class="topx"> 
      <span><a href="javascript:pl(201)" style="color:#999">回复</a></span> 
      <img data-original="static/images/tiejiang.jpg" style="display: block;" />铁匠
      <em>LV.36</em> 
     </div> 
     <div class="conx"> 
      <p><span class="nickname"></span>人不错，专车来机场接的我们...</p>
     </div> 
     <!--小回复结束--> 
    </div>

        <!--小回复开始--> 
    <div class="cons"> 
     <div class="topx"> 
      <span><a href="javascript:pl(201)" style="color:#999">回复</a></span> 
      <img data-original="static/images/rexue.jpg" style="display: block;" />热雪
      <em>LV.48</em> 
     </div> 
     <div class="conx"> 
      <p>赞一个，玩的很开心，拍的照片也很美</p>
     </div> 
     <!--小回复结束--> 
    </div>

        <!--小回复开始--> 
    <div class="cons"> 
     <div class="topx"> 
      <span><a href="javascript:pl(201)" style="color:#999">回复</a></span> 
      <img data-original="static/images/weiwei.jpg" style="display: block;" />微微
      <em>LV.27</em> 
     </div> 
     <div class="conx"> 
      <p>准备带家人旅游，老人出行前一定要提前安排好。</p>
     </div> 
     <!--小回复结束--> 
    </div>

   </div> 
   <!--回复结束--> 
  </div> 
</div>

  <div class="huida"> 
   <!--回答 END-->
   <!--相关问题 start--> 
   <div class="comments"> 
    <a name="comments" id="comments"></a> 
    <div class="ds-thread"> 
     <div id="ds-thread"> 
      <div id="ds-reset"> 
       <ds-toolbar> 
        <div class="ds-toolbar"> 
         <ds-login-buttons> 
         </ds-login-buttons> 
        </div> 
       </ds-toolbar> 
       <ds-reply-box> 
        <div id="dsReplyBoxBlock" class="ds-replybox "> 
         <ds-avatar-visitor>
          <a class="ds-avatar" onclick="return false" target="_self" title="" href="javascript:void(0);"> 
           <ds-avatar-image size="">
            <img data-original="static/images/81666.jpg" alt="" />
           </ds-avatar-image> </a>
         </ds-avatar-visitor> 

         <form name="form1" method="post" action=""> 
          <input type="hidden" name="w_id" id="w_id" value="39" /> 
          <div class="ds-textarea-wrapper ds-rounded-top"> 
           <textarea name="neirong" id="neirong" value="" title="Ctrl + Enter 快捷提交" placeholder="请输入您的评论内容!"></textarea> 
           <pre class="ds-hidden-text"></pre> 
          </div> 
          <div class="ds-post-toolbar"> 
           <div class="ds-post-options ds-gradient-bg"></div> 
           <button name="submit" class="ds-post-button " type="button" onclick="javascript:alert('评论提交成功！')"> 发布 </button> 
         </div>
         </form> 

        </div> 
       </ds-reply-box> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
<div data-v-354ef909="" class="Copyright" style="text-align:  center; font-size: 10px; transform: scale(0.8); color: rgb(203, 200,  200);"> 
  <p>Copyright 湖南乐迪文化传媒有限公司</p>
</div>

<script src="static/js/ld.js"></script>

<script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery_lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script>
$(function() {
  $("img").lazyload(
    {
      // 距离屏幕 200 像素时加载
      threshold:200,
      // 淡入效果
      effect:"fadeIn",
      // 当插件找到10个不在可见区域内的图片时停止搜索
      failure_limit : 10,
      // 加载隐藏图片
      skip_invisible : false,
      // 设置占位符替代显示区域内待加载的图片
      // placeholder:'loading.gif'
    }
  );
});
</script>

</body>
</html>